@import "../css/layout.css";
@import "../css/ide.css";
@import "../css/images.css";
@import "../css/theme.css";

html,body {
	height: 100%;
}

.terminal {
 	height: 100%;
	width: 100%;
	font-size: 11pt;
	font-family: monospace;
	color: #ff0000;
	background: #383734
}

.terminal-cursor {
	color: #000;
	background: #f0f0f0;
}
