@import "../../orion/editor/editor.css";

.diffNormal {
	background: #DDDDDD;
}

.diffConflict {
	background: #EEB4B4;
}

.diffNormalSelect {
	background: #BBBBBB;
}

.diffConflictSelect {
	background: #F08080;
}

.diffInlineAddedSelect {
	background: #00B400;
}

.diffInlineAdded {
	background: #99EE99;
}

.diffInlineRemovedSelect {
	background: #B44040;
}

.diffInlineRemoved {
	background: #EE9999;
}

.fileNameCheckedRow {
	background-color: #FFFFCC !important;
	color: white;
}

.fileNameSelectedRow {
	background-color: #6d6d6d !important;
}

.fileNameNormalRow {
	color: #0000FF;
}

.compareCanvas {
	background: #EEEEEE;
	border: 0px;
}

.compareEditorParent {
	width:100%;
	height: 100%;
	overflow: hidden;
}

.canvasContainer {
	width:44px;
	height:100%;
	overflow: hidden;
}

.titleContainer {
	width:100%;
	height:30px;
	overflow: hidden;
	background: #EEEEEE;
}

.statusContainer {
	width:100%;
	height:30px;
	overflow: hidden;
}

.borderContainer {
	width:100%;
	height: 100%;
}

.leftBorder {
	width:50%;
	height: 100%;
}

.rightBorder {
	height: 100%;
}

/*** Styles for diff annotations ***/

/** Styles for normal diff blocks **/

/* The added block in the new file/left side, lightest green */
.annotationLine.addedBlockDiff {
	background-color: #D2FFD2; /*#EFFFEF;*/
}

/* The current added block in the new file/left side, 2nd lightest green */
.annotationLine.currentAddedBlockDiff {
	background-color: #B0FFB0;
}

/* The deleted block in the old file/right side, lightest red */
.annotationLine.deletedBlockDiff {
	background-color: #FFD2D2; /*'#FFEFEF;*/
}

/* The current deleted block in the old file/right side, 2nd lightest red */
.annotationLine.currentDeletedBlockDiff {
	background-color: #FFB0B0;
}

/* Style for an empty block, which draws a lighter black line on top of a line to indicate an insertion or deletion */
/* diff-border.png */
.annotationLine.blockDiffTopOnly {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAABCAIAAAAuIQuDAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPSURBVBhXY6yvr2cYHAAAzPsBf2hZ98wAAAAASUVORK5CYII=");
 	background-repeat: repeat-x;
 	background-position: left top
}

/* Style for the current empty block, which draws a darker black line on top of a line to indicate an insertion or deletion */
/* diff-border-sel.png */
.annotationLine.currentBlockDiffTopOnly {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAABCAIAAAAuIQuDAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY2AYNAAAAIsAAR6L5FUAAAAASUVORK5CYII=");
 	background-repeat: repeat-x;
 	background-position: left top
}

/** Styles for conflicting diff blocks **/

/* The conflicting block in both the old file/right side and new file/left side, lighter yellow */
.annotationLine.blockDiffConflict {
	background-color: #FFFFCA;
}

/* The curent conflicting block in both the old file/right side and new file/left side, darker yellow */
.annotationLine.currentBlockDiffConflict {
	background-color: #FFFF5B;
}

/** Styles for diff words **/

/* The added word in the new file/left side, 3rd lightest green */
.annotationRange.addedWordDiff {
	background-color: #99EE99;
}

/* The current added word in the new file/left side, darkest green */
.annotationRange.currentAddedWordDiff {
	background-color: #33DD33;
}

/* The deleted word in the old file/right side, 3rd lightest red */
.annotationRange.deletedWordDiff {
	background-color: #EE9999;
}

/* The current deleted word in the old file/right side, darkest red */
.annotationRange.currentDeletedWordDiff {
	background-color: #E66868;
}

/* The following 4 styles are for the special annotations when presenting a position between 2 characters, which looks like a caret cursor.
 * They are all using the same 18X2 PNG on either right or left side of a character.
 * diff-empty-word-border-black.png
 */

.annotationRange.emptyDeletedWordDiffLeft {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAASCAYAAABxYA+/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAUSURBVBhXY2RgYPgPxAxMIGIwMgCpaAEjILHq8AAAAABJRU5ErkJggg==");
 	background-repeat: repeat-y;
 	background-position: left top
}

.annotationRange.emptyDeletedWordDiffRight {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAASCAYAAABxYA+/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAUSURBVBhXY2RgYPgPxAxMIGIwMgCpaAEjILHq8AAAAABJRU5ErkJggg==");
 	background-repeat: repeat-y;
 	background-position: right top
}

.annotationRange.emptyAddedWordDiffLeft {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAASCAYAAABxYA+/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAUSURBVBhXY2RgYPgPxAxMIGIwMgCpaAEjILHq8AAAAABJRU5ErkJggg==");
 	background-repeat: repeat-y;
 	background-position: left top
}

.annotationRange.emptyAddedWordDiffRight {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAASCAYAAABxYA+/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAUSURBVBhXY2RgYPgPxAxMIGIwMgCpaAEjILHq8AAAAABJRU5ErkJggg==");
 	background-repeat: repeat-y;
 	background-position: right top
}
