.fileNameCheckedRow {
	background-color: #FFFFCC !important;
	color: white;
}

.fileNameSelectedRow {
	background-color: #6d6d6d !important;
}

.fileNameNormalRow {
	color: #0000FF;
}

.compareCanvas {
	background: #EEEEEE;
	border: 0px;
}

.compareEditorParent {
	width:100%;
	height: 100%;
	overflow: hidden;
}

.canvasContainer {
	width:44px;
	height:100%;
	overflow: hidden;
}

.titleContainer {
	width:100%;
	height:30px;
	overflow: hidden;
}

.statusContainer {
	width:100%;
	height:60px;
	overflow: hidden;
}

.borderContainer {
	width:100%;
	height: 100%;
}

.leftBorder {
	width:50%;
	height: 100%;
}

.rightBorder {
	height: 100%;
}

