
.bottomBorderReplace {
	height: 50%;
}

.bottomBorderSearch {
	height: 0px;
}

.search_primaryColumn {
	padding-left: 0 !important;
	vertical-align: baseline;
	width: 45px;
}

.search_secondaryColumn{
	color: #666666;	
}

.search_mainpane {
    margin: 0;
    padding-left: 0px;
    padding-top: 0px;
    background: #FFFFFF;
	overflow: auto;
}

.topBorder {
	overflow: auto;
}
