@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css"; /* for outliner */

@import "../orion/editor/editor.css";

@import "../css/theme.css";

.outlineExplorer {
	overflow-y: hidden;
}

.outlineFilter {
	border: 1px solid lightgrey;
	margin: 4px;
	width: 65%;
	float: left;
}

.outlineRowMatchesFilter {
	font-weight:bold;
}

.outlineRowHidden {
	display: none;
}

.findOptionsDiv {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.replaceInfo {
	margin-left: -14px;
	margin-right: 7px;
	margin-bottom: -3px;
	cursor: pointer;
}
