@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css"; /* for outliner */

@import "../orion/editor/editor.css";

@import "../css/theme.css";


.outlinerWrapper {
	height: 100%;
}

.outlineNodeWrapper {
	height: calc(100% - 22px);
	overflow-x: hidden;
	overflow-y: auto;
}

#templateExplorerPanel {
	margin-top: -4px;
	height: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}

#templateExplorerPanel .outlineFilter {
	padding-left: 17px;
	height: 25px;
	outline: none;
	margin: 0 0 0 10px;
	width: calc(100% - 31px);
}

#templateExplorerPanel .selectionModelContainer{
	height: calc(100% - 32px);
	overflow-y: auto;
}


#templateExplorerPanel .selectionModelContainer div:first-child{
	height: calc(100% - 32px);
	overflow-y: auto;
	margin-left: 10px;
	border: 1px solid #dadada;
}

.templateExplorerItemHidden {
	display: none;
}

.templateExplorerItemShown {
	display: block;
	color: grey;
	border: 1px solid rgb(223, 223, 223);
	margin: 15px 45px 0px 30px;
	background: white;
	cursor: pointer;
}

.templateExplorerItemShown:hover{
    border: 1px solid #b2cfb9;
}

.templateExplorerItemShown pre {
	margin: 0;
	padding: 10px 10px;
}

.templateExplorer {
	overflow-y: hidden;
	white-space:nowrap;
	width: 100%;
}

.templateExplorer {
    background: white;
    height: 100%;
}

.templateExplorer .modelDecorationSprite {
    display: none;
}

.templateExplorer .treeIterationCursorRow_Dotted{
    background: transparent;
}

.templateExplorer .navRow {
    padding: 10px 0;
    padding-left: 15px;
    border-bottom: 1px solid #eee;
    display:block;
}

.templateExplorer .navRow.expanded {
    background-color: #F3FAF5;
}

.templateExplorer .navRow.level0 {
}

.templateExplorer .navRow.level1 {
    border-bottom: 1px solid #F3F3F3;
    background-color: #F3FAF5;
}

.templateExplorer .navRow.level1 > span::before {
    content: "\2022";
    color:gray;
}

.templateExplorer .treeTableRow.level1 span {
    color: #555;
    font-size: 9pt;
}

.templateExplorer .treeTableRow.level0 span{
	color: #333;
	font-size: 9pt;
}

.templateExplorerSearchButton {
    float: right;
    position: relative;
    top: -29px;
    margin-bottom: -29px;
    outline: none;
    cursor:pointer;
}

.templateExplorerSearchButton:hover{
    color:#F58B0F;
}

.slideoutContent #headerBar {
    padding: 10px 10px 7px 10px;
    background-color: white;
    margin-left: 10px;
    border: 1px solid lightgrey;
    color: rgb(82, 82, 82);
    font-weight: bold;
    font-size: 13px;
}

.outlineExplorer {
	overflow-y: hidden;
	white-space:nowrap;
	width: 100%
}

.outlineFilter {
	border: 1px solid lightgrey;
	margin: 3px 6px;
	width: 95%; /* for older browsers */
	width: calc(100% - 38px);
}

.outlineRowMatchesFilter {
	font-weight:bold;
}

.outlineRowHidden, .templateExplorer .navRow.outlineRowHidden {
	display: none;
}

.outlineLeafIndent {
	display: inline-block;
	width: 16px; /*16px standard indent*/
}

.findOptionsDiv {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.replaceInfo {
	margin-left: -14px;
	margin-right: 7px;
	margin-bottom: -3px;
	cursor: pointer;
}

.extraActions:not(:empty) {
	margin-left: 4px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
