@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css"; /* for outliner */

@import "../orion/editor/textview.css";
@import "../orion/editor/rulers.css";
@import "../orion/editor/annotations.css";
@import "../orion/editor/tooltip.css";
@import "../css/editor-theme.css";

.outlineExplorer {
	overflow-y: none;
}

.findOptionsDiv {
	display: inline-block;
	margin: 0;
	padding: 0;
}


