@import "../compare/compareView.css";

@import "../globalSearch/globalSearch.css";

@import "../widgets/input/ComboTextInput.css";

.searchResultsWrapperDiv .treeTableRow > td {
	padding: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.searchResultsWrapperDiv > b {
	margin-left: 10px;
}

.searchWrapper {
	background: whitesmoke;
	border: 1px solid rgb(222, 222, 222);
	border-radius: 0 5px 5px 0;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 100;
}

.searchWrapperActive {
	height: calc(100% - 11px);
	width: calc(100% - 2px);
	transition: width 0.2s ease;
}

.searchOptWrapperDiv {
	height: 224px;
	transition: height 0.2s ease;
}

.replaceModeActive > .searchOptWrapperDiv {
	height: 262px;
}

.searchWrapper.searchOptionsHidden > .searchOptWrapperDiv {
	height: 0;
	overflow: hidden;
}

.searchResultsWrapperDiv {
	height: calc(100% - 224px - 30px); /* subtract height of search options*/
	width: 100%;
}

.searchResultsWrapperDiv > div {
	border-top: 1px solid #333;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.searchResultsWrapperDiv > div > .treetable {
	background: white;
	table-layout: fixed;
}

.searchWrapper.searchOptionsHidden > .searchResultsWrapperDiv{
	height: calc(100% - 56px);
}

.replaceModeActive > .searchResultsWrapperDiv {
	height: calc(100% - 220px - 30px - 42px); /* subtract height of search options and replace box */
}

.searchWrapper > .comboTextInputWrapper {
	margin: 5px 10px 0 10px;
}

.searchWrapper > .searchDismissButton {
	display: none;
	float: right;
	margin: 0;
	padding: 4px;
	position: relative;
}

.searchWrapper.searchWrapperActive > .searchDismissButton {
	display: inline-block;
}

.replaceWrapper {
	display: block;
	max-height: 50px; /* for transition */
	overflow: visible;
	transition: max-height 0.2s ease;
}

.replaceWrapperHidden {
	max-height: 0; /* for transition */
	overflow: hidden;
}

.fileNamePatternsTextInput {
	min-width: 210px;
}

.fileNamePatternsHint {
	color: #777;
	font-size: 11px;
	margin: 0 0 2px 0;
	padding: 0 2px;
	display: block;
	opacity: 0;
	text-align: center;
	transition: opacity 0.1s ease;
}

.fileNamePatternsHintVisible {
	opacity: 1 !important;
}

.fileNamePatternsInput {
	margin-bottom: 0;
}

.toggleDisplayLink {
	display: block;
	margin: 0 0 0 5px;
}

.toggleDisplayLink.linkHidden {
	display: none;
}

.searchMainOptionBlock {
	margin: 5px 10px 0 10px;
}

.searchOptionBlock {
	margin: 15px 15px;
	width: 245px;
}

.searchLabel {
	margin: 1px 2px;
}

.searchCheckboxLabel {
	vertical-align: middle;
}

.searchCheckbox {
	margin: 0 0 0 5px;
	vertical-align: middle;
}

.searchScopeInputWrapper {
	background-color: whitesmoke;
	border: 1px solid lightgray;
	border-radius: 3px;
	display: inline-block;
	white-space: nowrap;
}

.searchScopeElementWrapper {
	display: inline-block;
	width: 215px;
}

.searchScopeElement {
	color: #222;
	cursor: initial;
	display: inline-block;
	font-weight: normal;
	margin: 0 5px;
	overflow: hidden;
	padding: 0;
	max-width: 100%; /* prevents span from overflowing parent */
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.commandButton.searchScopeSelectButton {
	border: none;
	border-left: 1px solid lightgray;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	cursor: pointer;
	font-size: 12px;
	margin: 0;
	padding: 6px;
	text-transform: none;
	vertical-align: baseline;
}

.searchButton > span {
	font-size: 14px;
}

.commandButton.comboTextInputButton.searchButton {
	padding: 3px 5px 5px 5px;
}

.commandButton.comboTextInputButton.searchButton.isHidden {
	padding: 3px 0 5px 0;
}

.replaceWrapper > .comboTextInputWrapper > .comboTextInputButton {
	padding: 7px 10px;
}

.projectNavSidebarWrapper > .searchWrapperActive {
	height: calc(100% - 14px);
}

.fileNameSpan {
	display: inline-block;
	font-weight: bold;
	outline: none;
	padding: 2px;
	vertical-align: middle;
}

.fileParentSpan {
	color: #666 !important;
	font-size: 8pt; 
	font-weight: normal;
}

.replaceFileNameSpan {
	color: black;
	cursor: pointer;
}

.deleteSearchRowButton {
	margin-left: 2px !important;
}

.searchDetailRow {
	background: white !important;
}

.navlink.searchDetailLink {
	vertical-align: baseline;
}

/* search match occurrences */
.navlink.searchDetailLink > span > b {
	color: black;
	background: #cedce7;
}

.searchWrapper:not(.searchWrapperActive) > .comboTextInputWrapper > .comboTextInputButton {
	background-color: white;
	border-color: white;
}

.searchWrapper:not(.searchWrapperActive) > .comboTextInputWrapper > .comboTextInputButton > span {
	color: #aaa;
}

.searchWrapper > .comboTextInputWrapper > .recentEntryButton {
	max-width: 25px;
	transition: max-width 0.2s ease;
}

.searchWrapper:not(.searchWrapperActive) > .comboTextInputWrapper > .recentEntryButton {
	max-width: 0;
}

.searchWrapperActive > .comboTextInputWrapper > .comboTextInputButton {
	background-color: rgb(221, 221, 221);
}

.replaceCompareDiv {
	display: none;
	z-index: 1;
}

.replaceCompareDivVisible {
	display: block;
}


.searchResultsTitle {
	display: inline-block;
	font-weight: bold;
	margin: 0;
	margin-left: 20px;
	color: #333;
	width: calc(100% - 150px);
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

.replaceModeActive > .searchResultsTitle {
	width: calc(100% - 250px);
}

.searchPageActions {
	display: inline-block;
}

