@import "../compare/compareView.css";

@import "../globalSearch/globalSearch.css";

@import "../widgets/input/ComboTextInput.css";

.searchResultsWrapperDiv .treeTableRow > td {
	padding: 3px;
}

.searchResultsWrapperDiv > b {
	margin-left: 10px;
}

.searchWrapper {
	border: 1px solid transparent;
	border-bottom: none;
	display: block;
	position: relative;
	z-index: 100;
	white-space: nowrap;
	width: calc(100% - 2px);
}

.searchWrapperActive {
	background: whitesmoke;
	border-color: rgb(222, 222, 222);
	padding-bottom: 5px;
}

.searchWrapper > .comboTextInputWrapper {
	margin: 5px 10px 0 10px;
}

.searchWrapper > .searchDismissButton {
	display: none;
	float: right;
	margin: 0;
	padding: 4px;
	position: relative;
}

.searchWrapper.searchWrapperActive > .searchDismissButton {
	display: inline-block;
}

.replaceWrapper {
	display: block;
	max-height: 50px; /* for transition */
	overflow: visible;
	transition: max-height 0.2s ease;
}

.replaceWrapperHidden {
	max-height: 0; /* for transition */
	overflow: hidden;
}

.fileNamePatternsTextInput {
	min-width: 210px;
}

.fileNamePatternsHint {
	color: #777;
	font-size: 11px;
	margin: 0 0 2px 0;
	padding: 0 2px;
	display: block;
	opacity: 0;
	text-align: center;
	transition: opacity 0.1s ease;
}

.fileNamePatternsHintVisible {
	opacity: 1 !important;
}

.fileNamePatternsInput {
	margin-bottom: 0;
}

.toggleDisplayLink {
	display: block;
	margin: 0 0 0 5px;
}

.searchMainOptionBlock {
	margin: 5px 10px 0 10px;
}

.searchOptionBlock {
	margin: 15px 15px;
	width: 245px;
}

.searchLabel {
	margin: 1px 2px;
}

.searchCheckboxLabel {
	vertical-align: middle;
}

.searchCheckbox {
	margin: 0 0 0 5px;
	vertical-align: middle;
}

.searchScopeInputWrapper {
	background-color: whitesmoke;
	border: 1px solid lightgray;
	border-radius: 3px;
	display: inline-block;
	white-space: nowrap;
}

.searchScopeElementWrapper {
	display: inline-block;
	width: 215px;
}

.searchScopeElement {
	color: #222;
	cursor: initial;
	display: inline-block;
	font-weight: normal;
	margin: 0 5px;
	overflow: hidden;
	padding: 0;
	max-width: 100%; /* prevents span from overflowing parent */
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.commandButton.searchScopeSelectButton {
	border: none;
	border-left: 1px solid lightgray;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	cursor: pointer;
	font-size: 12px;
	margin: 0;
	padding: 6px;
	text-transform: none;
	vertical-align: baseline;
}

.searchButton > span {
	font-size: 14px;
}

.commandButton.comboTextInputButton.searchButton {
	padding: 3px 5px 5px 5px;
}

.commandButton.comboTextInputButton.searchButton.isHidden {
	padding: 3px 0 5px 0;
}

.replaceWrapper > .comboTextInputWrapper > .comboTextInputButton {
	padding: 7px 10px;
}

.inlineSearchWrapperDiv {
	background: whitesmoke;
	display: block;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	transition: opacity 0.2s ease, overflow 0s ease 0.2s, visibility 0s ease 0.2s;
	visibility: hidden;
	width: calc(100% - 2px); /* subtract border width */
	z-index: 100;
}

.isVisible {
	border: 1px solid rgb(222, 222, 222);
	border-top: none;
	height: calc(100% - 68px); /* subtract top and border */
	opacity: 1;
	overflow: auto;
	top: 67px;
	transition-delay: 0s;
	visibility: visible;
}

.projectNavSidebarWrapper > .sidebarToolbar > .inlineSearchWrapperDiv.isVisible {
	top: 38px;
	height: calc(100% - 40px);
}

.projectNavSidebarWrapper.sidebarWrapper > .sidebar {
	height: calc(100% - 40px);
}

.fileNameSpan {
	display: inline-block;
	outline: none;
	padding: 2px;
	vertical-align: middle;
}

.fileLocationSpan {
	cursor: text;
	display: inline-block;
	margin-left: 5px;
	outline: none;
	padding: 2px;
	vertical-align: middle;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.deleteSearchRowButton {
	margin-left: 10px !important;
}

.searchDetailRow {
	background: white !important;
}

.searchDetailLineNumber {
	margin-right: 4px;
}

.navlink.searchDetailLink {
	vertical-align: baseline;
}

.searchWrapper:not(.searchWrapperActive) > .comboTextInputWrapper > .comboTextInputButton {
	background-color: white;
	border-color: white;
}

.searchWrapper:not(.searchWrapperActive) > .comboTextInputWrapper > .comboTextInputButton > span {
	color: #aaa;
}

.searchWrapper > .comboTextInputWrapper > .recentEntryButton {
	max-width: 25px;
	transition: max-width 0.2s ease;
}

.searchWrapper:not(.searchWrapperActive) > .comboTextInputWrapper > .recentEntryButton {
	max-width: 0;
}

.searchWrapperActive > .comboTextInputWrapper > .comboTextInputButton {
	background-color: rgb(221, 221, 221);
}
