@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/theme.css";

#tasks-list{
	padding-left: 5px;
	padding-right: 5px;
}

.pageLayoutTarget {
	padding-top: 0;
}

th {
	text-align: left;
}