@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/nihilo.css";

@import
	"../org.dojotoolkit/dijit/themes/nihilo/layout/BorderContainer.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/form/Common.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/form/Button.css";

@import "../org.dojotoolkit/dojox/layout/resources/ToggleSplitter.css";

@import "../css/ide.css";

@import "../css/UploaderFileList.css";

@import "../css/customsplitter.css";

@import "../css/breadcrumbs.css";

@import "../css/commands.css";

@import "css/git.css";

@import "../settings/settings.css";

.git-decor-icon {
	float: left;
	position: relative;
	height: 16px;
	vertical-align: text-top;
	width: 16px;
	padding-right: 20px;
}

.git-author-icon {
	float: left;
	position: relative;
	height: 30px;
	vertical-align: text-top;
	width: 30px;
	border: 1px solid lightGrey;
	padding: 2px;
	margin-right: 18px;
}

.git-action-area {
	float: right;
	position: relative;
	color: #666;
	font-size: 0.9em;
}

.git-list-item {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.git-table {
	padding-top: 15px;
	padding-top: 15px;
}

.tag-description {
	font-size: 13px;
	white-space: normal;
	padding-right: 10px;
	min-width: 100px;
	max-width: 600px;
}