@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/claro/claro.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Common.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Button.css";

@import "../css/layout.css";

@import "../settings/settings.css";

@import "../css/ide.css";

@import "../css/UploaderFileList.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "css/git.css";

.tag-description {
	white-space: normal;
	padding-right: 10px;
	min-width: 100px;
	max-width: 700px;
}

.lightTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.darkTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.stretch {
	float: left;
	position: relative;
	white-space:normal;
	max-width:700px;
}

.activeBranch {
	font-weight: bold;
}
