@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "../orion/compare/compareView.css";

@import "css/git.css";

@import "../css/theme.css";

@import "css/git_extra.css";

.tag-description {
	white-space: normal;
	padding-right: 10px;
	min-width: 100px;
	max-width: 700px;
}

.stretch {
	white-space:normal;
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

html[dir="rtl"] .stretch { /* ACGC */
	float: right;
}

.activeBranch {
	font-weight: bold;
}

.gitPanel .sectionWrapper {
	margin-top: 40px;
}

.gitPanel table .sectionWrapper {
	margin-top: 20px;
}
