.dark {
	background-color: black;
	color: gray;
	font-size: 12pt;
}

.dark .view {
	background-color: black;
}

.dark .ruler {
	background-color: black;
}

.dark .token_doc_comment {
	color: magenta;
}

.dark .line_caret {
	background-color: #fefefe;
}

.dark .annotationLine.currentLine {
	background-color: #fefefe;
}

.dark .annotationRange.task {
	color: magenta;
}