@import "../../webui/RichDropdown.css";

.runBarWrapper {
	-webkit-align-items: center;		 		 /* Safari */
	align-items: center;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	display: -webkit-inline-flex;		 /* Safari */
	display: inline-flex;
	height: 33px;
	margin: 1px 0;
	overflow: hidden;
	padding: 0 10px;
}

.disabled {
	opacity: 0.3;
}

.launchConfigurationsWrapper {
	background: white;
	border-radius: 3px;
	display: inline-block;
	margin-right: 10px;
	min-height: 29px;
	min-width: 270px;
	transition: opacity 0.3s ease;
}

.launchConfigurationsWrapper > .launchConfigurationsButton.dropdownTrigger {
	background: white;
	padding: 6px 2px 6px 6px;
	width: 270px;
}

.launchConfigurationsButton > .dropdownArrowDown {
	vertical-align: baseline;
}

.launchConfigurationsWrapper > .dropdownMenuOpen {
	min-width: 160px;
}

.runBarButton {
	background: none;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 0;
	margin: 0;
	transition: opacity 0.3s ease;
}

.runBarButton:not(.disabled):hover {
	border-color: #ccc;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.playButton {
	color: #333333;
	display: inline-block;
	font: 20px Arial,Helvetica,Myriad,Tahoma,clean,sans-serif, Lucida Sans Unicode,Lucida Grande,Verdana;
	margin-right: 4px;
	padding: 0;
}

.playButton:before {
	content: '\25ba'; /* Unicode - BLACK RIGHT-POINTING POINTER */
}

.deployButton {
	color: #333333;
	display: inline-block;
	font: 20px Arial,Helvetica,Myriad,Tahoma,clean,sans-serif, Lucida Sans Unicode,Lucida Grande,Verdana;
	margin-right: 4px;
	padding: 0;
}

.deployButton:before {
	content: '\25ba'; /* Unicode - BLACK RIGHT-POINTING POINTER */
}

.stopButton {
	display: inline-block;
	height: 25px;
	width: 22px;
}

.stopButton:before {
	background: #333333;
	border: none;
	border-radius: 2px;
	content: ' ';
	display: inline-block;
	height: 14px;
	margin: 4px 0 5px 0;
	width: 14px;
}

.statusLabel {
	color: #222;
	margin-right: 10px;
	transition: opacity 0.3s ease;
}

.statusLight {
	background: gray;
	border: 2px solid transparent;
	border-radius: 100%;
	display: inline-block;
	height: 8px;
	margin-right: 5px;
	width: 8px;
	transition: background 0.2s ease, opacity 0.3s ease;
	vertical-align: bottom;
}

.statusLight.statusLightGreen {
	background: green;
}

.statusLight.statusLightRed {
	background: red;
}

.statusLight.statusLightProgress {
	background: none;
	border-color: gray;
	border-top-color: transparent;
	
	-webkit-animation: rotate 1s infinite linear;
	-moz-animation: rotate 1s infinite linear;
	-ms-animation: rotate 1s infinite linear;
	-o-animation: rotate 1s infinite linear;
	animation: rotate 1s infinite linear;
}

.runBarSeparator {
	background: #ccc;
	display: inline-block;
	height: 33px;
	margin: 1px 10px;
	position: relative;
    width: 1px;
}

.playButton.restartAppButton:before {
	content: '\21ba'; /* Unicode - Circular Arrow, This is temporary until we have an icon */
}
