@import "../../webui/RichDropdown.css";

.runBarWrapper {
	-webkit-align-items: center;		 		 /* Safari */
	align-items: center;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	display: -webkit-inline-flex;		 /* Safari */
	display: inline-flex;
	overflow: visible;
	padding: 0 10px;
}

.runBarWrapper .disabled {
	opacity: 0.15;
}

.runBarWrapper .disabled:hover {
	color: #555;
	opacity: 0.15;
	cursor: default;
}

.launchConfigurationsWrapper {
	background: white;
	border-radius: 5px;
	display: inline-block;
	margin: 0 8px 0 0;
	min-height: 20px;
	min-width: 270px;
	transition: opacity 0.3s ease;
}

.launchConfigurationsWrapper > .launchConfigurationsButton.dropdownTrigger {
	background: white;
	border-radius: 5px;
	padding: 2px 0 2px 4px;
	width: 270px;
}

.launchConfigurationsButton > .dropdownTriggerButtonLabel {
	-webkit-align-items: center;		 		 /* Safari */
	align-items: center;
	color: #999;
	display: -webkit-inline-flex;		 /* Safari */
	display: inline-flex;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	width: calc(100% - 20px);
}

.launchConfigurationsButton > .dropdownArrowDown {
	vertical-align: bottom;
}

.launchConfigurationsWrapper > .dropdownMenu {
	display: block;
	padding-bottom: 0;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	-ms-transform-origin: top;	
	transform-origin: top;
	transition: transform 0.2s ease;
	visibility: visible;
}

.launchConfigurationsWrapper > .dropdownMenu.dropdownMenuOpen {
	min-width: 300px;
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

.launchConfigurationMenuItem > .dropdownMenuItem {
	padding: 9px 3px 9px 5px;
}

.dropdownMenu.dropdownMenuOpen > li > .addNewMenuItem {
	background-color: whitesmoke;
	border-left-color: transparent;
	cursor: default;
	padding-left: 0;
}

.addNewMenuItem > .orionButton {
	font-size: 16px;
	font-weight: bold;
}

.launchConfigurationDeleteButton.orionButton {

}

.runBarWrapper .runBarButton {
	background: none;
	border: 1px solid transparent;
	border-radius: 3px;
	margin: 0 2px;
	outline: none;
	padding: 1px;
	transition: opacity 0.3s ease;
}

.runBarWrapper .runBarButton:not(.disabled):hover {
	border-color: #ccc;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.runBarWrapper .runBarButton:before {
	display: block;
	height: 18px;
	line-height: 18px;
	margin-top: -3px;
}

.runBarButton.playButton {
	display: inline-block;
	font-size: 18px;
}

.runBarButton.stopButton {
	display: inline-block;
	font-size: 18px;
}

.statusLabel {
	color: #222;
	margin-right: 10px;
	transition: opacity 0.3s ease;
}

.statusLight {
	-webkit-flex-grow: 0;		/* Safari */
	flex-grow: 0;
	-webkit-flex-shrink: 0;		/* Safari */
	flex-shrink: 0;
	
	background: gray;
	border: 2px solid transparent;
	border-radius: 100%;
	display: inline-block;
	height: 8px;
	margin-right: 5px;
	width: 8px;
	transition: background 0.2s ease, opacity 0.3s ease;
	vertical-align: bottom;
}

.statusLight.statusLightGreen {
	background: green;
}

.statusLight.statusLightRed {
	background: red;
}

.statusLight.statusLightProgress {
	background: none;
	border-color: gray;
	border-top-color: transparent;
	
	-webkit-animation: rotate 1s infinite linear;
	-moz-animation: rotate 1s infinite linear;
	-ms-animation: rotate 1s infinite linear;
	-o-animation: rotate 1s infinite linear;
	animation: rotate 1s infinite linear;
}

.runBarSeparator {
	background: #ccc;
	display: inline-block;
	height: 25px;
	margin: 0 10px;
	position: relative;
    width: 1px;
}

.appName {
	color: #666;
	-webkit-flex-grow: 0;		/* Safari */
	flex-grow: 0;
	-webkit-flex-shrink: 1;		/* Safari */
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.appInfoSpan {
	color: #666;
	-webkit-flex-grow: 0;		/* Safari */
	flex-grow: 0;
	-webkit-flex-shrink: 0;		/* Safari */
	flex-shrink: 0;
	overflow: hidden;
	margin-left: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.runBarLink {
	-webkit-flex-grow: 0;		/* Safari */
	flex-grow: 0;
	-webkit-flex-shrink: 0;		/* Safari */
	flex-shrink: 0;
	margin: 0 2px;
}

.runBarLink:hover {
	color: #F58B0F;
	text-decoration: none;
}

.runBarLink.appLink{
	font-size: 17px;
	height: 17px;
	line-height: 17px;
	margin: -4px 0 0 6px;
}
