.ruler {
	background-color: white;
}
.ruler.annotation {
	border-right: 1px solid lightgray;
	width: 16px;
}
.ruler.folding {
	border-right: 1px solid lightgray;
	width: 14px;
}
.ruler.lines {
	border-right: 1px solid lightgray;
	text-align: right;
}
.ruler.overview {
	width: 14px;
}
.ruler_lines {
	background-color: white;
}
.ruler_lines.even
.ruler_lines.odd {
}

.annotation {
	cursor: pointer;
}
.annotation.todo,
.annotation.breakpoint,
.annotation.bookmark,
.annotation.error,
.annotation.warning
.annotation.collapsed
.annotation.expanded {
}

.annotation_overview {
	cursor: pointer;
	border-radius: 2px;
	left: 2px;
	width: 8px;
}
.annotation_overview.todo {
	background-color: lightgreen;
	border: 1px solid green;
}
.annotation_overview.breakpoint {
	background-color: lightblue;
	border: 1px solid blue;
}
.annotation_overview.bookmark {
	background-color: yellow;
	border: 1px solid orange;
}
.annotation_overview.error {
	background-color: lightcoral;
	border: 1px solid darkred;
}
.annotation_overview.warning {
	background-color: Gold;
	border: 1px solid black;
}