.ruler_annotation {
	background-color: white;
	border-right: 1px solid lightgray;
	width: 16px;
}

.ruler_annotation_todo {
}

.ruler_annotation_todo_overview {
	background-color: lightgreen;
	border: 1px solid green;
	border-radius: 2px;
	cursor: pointer;
	left: 2px;
	width: 8px;
}

.ruler_annotation_breakpoint {
}

.ruler_annotation_breakpoint_overview {
	background-color: lightblue;
	border: 1px solid blue;
	border-radius: 2px;
	cursor: pointer;
	left: 2px;
	width: 8px;
}

.ruler_annotation_bookmark {
}

.ruler_annotation_bookmark_overview {
	background-color: yellow;
	border: 1px solid orange;
	border-radius: 2px;
	cursor: pointer;
	left: 2px;
	width: 8px;
}

.ruler_annotation_error {
}

.ruler_annotation_error_overview {
	background-color: lightcoral;
	border: 1px solid darkred;
	border-radius: 2px;
	cursor: pointer;
	left: 2px;
	width: 8px;
}

.ruler_annotation_warning {
}

.ruler_annotation_warning_overview {
	background-color: Gold;
	border: 1px solid black;
	border-radius: 2px;
	cursor: pointer;
	left: 2px;
	width: 8px;
}

.ruler_folding {
	background-color: white;
	border-right: 1px solid lightgray;
	width: 14px;
}

.ruler_folding_collapsed {
}

.ruler_folding_expanded {
}

.ruler_lines {
	background-color: white;
	text-align: right;
}

.ruler_overview {
	background-color: white;
	width: 14px;
}

.ruler_lines_even {
	background-color: white;
}

.ruler_lines_odd {
	background-color: white;
}
