@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/claro/claro.css";

@import "../org.dojotoolkit/dijit/themes/claro/layout/BorderContainer.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Common.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Button.css";

@import "../css/ide.css";

@import "../css/breadcrumbs.css";

@import "../css/commands.css";

@import "../orion/compare/compare-container.css";