.breadcrumb {
	font-size: 8pt;
	text-decoration: none;
	color: #3087B3;
	padding-top:2px;
}

a.breadcrumb:hover {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: #F58B0F;
	cursor: pointer;
}

a.breadcrumb:visited {
	color: #3087B3;
}

.breadcrumbSeparator {
	font-size: 8pt;
	text-decoration: none;
	color: #808080;
	font-weight: bold;
}

.currentLocation {
	font-weight: bold;
	font-size: 8pt;
	color: #444;
	text-decoration: none;
	text-wrap: normal;
	line-height:10pt;
}

a.currentLocation:hover {
	font-weight: bold;
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
	border-bottom: 0;
}