.breadcrumb {
	font-size: 8pt;
	text-decoration: none;
	color: #3087B3;
}

a.breadcrumb:hover {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: #F58B0F;
}

a.breadcrumb:visited {
	color: #3087B3;
}

.currentLocation {
	font-weight: bold;
	font-size: 10pt;
	color: #808080;
	text-decoration: none;
	cursor: pointer;
	text-wrap: normal;
}

a.currentLocation:hover {
	font-weight: bold;
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
	border-bottom: 0;
	cursor: pointer;
}