.commandSprite {
   background: url(../images/core_sprites.png) no-repeat top left;
   vertical-align: middle;
   display: inline-block;
}

/* spacing for commands in a list */
.commandList {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	list-style-type: none;
	vertical-align: baseline;
}

.commandList li {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
}

/* for commands not in a list we add margins for backward compatibility */
.commandMargins {
	margin-left: 4px;
	margin-right: 4px;
}

.commandImage {
	border: 1px solid transparent;
    border-radius: 2px;
	background-color: transparent;
	vertical-align: baseline;
	cursor: pointer;
	display: inline-block;
	padding: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandImageOver {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

/* should be used in conjunction with .commandButton when a tool has no icon. */
.commandMissingImageButton {
	font-weight:bold;
}

.commandButton {
	color: #222;
	border: 1px solid #dedede;
	background-color: #efefef;
	text-align: center;
	vertical-align: baseline;
    cursor: pointer;
    display: inline-block;
    padding:6px;
    padding-top: 4px; /* To align with Command Menu */
    border-radius:1px;
    line-height: 12px;
    font-size:8pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandButtonOver {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

.commandMenu {
    color: #222;
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	font-size:8pt;
	font-weight:normal;
	border: 1px solid #dedede;
	background-color: #efefef;
    cursor: pointer;
    border-radius:1px;
}

.commandMenuItem {
	border: 0;
	padding: 0;
	margin: 0;
}

.commandMenuItemAnchor {
	padding-right: 40px;
}

.commandLink {
	display: inline-block;
	vertical-align: baseline;
	padding: 2px;  /* other commands have 1px plus a border, so we need 2 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandSeparator {
	padding: 2px;
}

.commandActive {
	background-color: #e6e6e6 !important;
	border: 1px solid #808080 !important;
    border-radius: 2px !important;
}


/* placeholders for possible hover states on command items */
.commandActiveItem {
}

.commandInactiveItem {
}

/* Images */

/* these really belong in ide.css but simply moving them there upsets the order of things.  Do later.  */

/* This is used to achieve spriting and is used pervasively.  No additional styling (padding, borders, etc.)
should be added here.  Use additional classes where more treatment is needed. */
.imageSprite {
   background-image: url(../images/core_sprites.png);
   display: inline-block;
   vertical-align: middle;
}

.core-sprite-check{ background-position: 0 0; width: 16px; height: 16px; } 
.core-sprite-check_on{ background-position: 0 -18px; width: 16px; height: 16px; } 
.core-sprite-close{ background-position: 0 -36px; width: 16px; height: 16px; } 
.core-sprite-closedarrow{ background-position: 0 -54px; width: 16px; height: 16px; } 
.core-sprite-collapseAll{ background-position: 0 -72px; width: 16px; height: 16px; } 
.core-sprite-delete{ background-position: 0 -90px; width: 16px; height: 16px; } 
.core-sprite-diff-border-sel{ background-position: 0 -108px; width: 46px; height: 1px; } 
.core-sprite-diff-border{ background-position: 0 -111px; width: 46px; height: 1px; } 
.core-sprite-diff-empty-add-word-border{ background-position: 0 -114px; width: 4px; height: 18px; } 
.core-sprite-diff-empty-del-word-border{ background-position: 0 -134px; width: 4px; height: 18px; } 
.core-sprite-diff-empty-word-border-black{ background-position: 0 -154px; width: 2px; height: 18px; } 
.core-sprite-edit{ background-position: 0 -174px; width: 16px; height: 16px; } 
.core-sprite-error{ background-position: 0 -192px; width: 16px; height: 16px; } 
.core-sprite-expandAll{ background-position: 0 -210px; width: 16px; height: 16px; } 
.core-sprite-favorite_sml{ background-position: 0 -228px; width: 12px; height: 12px; } 
.core-sprite-file{ background-position: 0 -246px; width: 16px; height: 16px; } 
.core-sprite-file_model{ background-position: 0 -264px; width: 16px; height: 16px; } 
.core-sprite-folder{ background-position: 0 -282px; width: 16px; height: 16px; } 
.core-sprite-glass{ background-position: 0 -300px; width: 12px; height: 12px; } 
.core-sprite-html{ background-position: 0 -314px; width: 16px; height: 16px; } 
.core-sprite-info{ background-position: 0 -332px; width: 16px; height: 16px; } 
.core-sprite-javascript{ background-position: 0 -350px; width: 16px; height: 16px; } 
.core-sprite-leftarrow{ background-position: 0 -368px; width: 16px; height: 16px; } 
.core-sprite-link{ background-position: 0 -386px; width: 16px; height: 16px; } 
.core-sprite-makeFavorite{ background-position: 0 -404px; width: 16px; height: 16px; } 
.core-sprite-menu_twistie{ background-position: 0 -422px; width: 5px; height: 3px; } 
.core-sprite-move_down{ background-position: 0 -427px; width: 16px; height: 16px; } 
.core-sprite-move_up{ background-position: 0 -445px; width: 16px; height: 16px; } 
.core-sprite-none{ background-position: 0 -463px; width: 16px; height: 16px; } 
.core-sprite-ok{ background-position: 0 -481px; width: 16px; height: 16px; } 
.core-sprite-openarrow{ background-position: 0 -499px; width: 16px; height: 16px; } 
.core-sprite-orion-transparent{ background-position: 0 -517px; width: 37px; height: 14px; } 
.core-sprite-problem{ background-position: 0 -533px; width: 16px; height: 16px; } 
.core-sprite-progress_running{ background-position: 0 -551px; width: 16px; height: 16px; } 
.core-sprite-refresh{ background-position: 0 -569px; width: 16px; height: 16px; } 
.core-sprite-replaceAll{ background-position: 0 -587px; width: 16px; height: 16px; } 
.core-sprite-rightarrow{ background-position: 0 -605px; width: 16px; height: 16px; } 
.core-sprite-sep{ background-position: 0 -623px; width: 1px; height: 16px; } 
.core-sprite-splitterleft{ background-position: 0 -641px; width: 6px; height: 11px; } 
.core-sprite-splitterright{ background-position: 0 -654px; width: 6px; height: 11px; } 
.core-sprite-start{ background-position: 0 -667px; width: 16px; height: 16px; } 
.core-sprite-stop{ background-position: 0 -685px; width: 16px; height: 16px; } 
.core-sprite-stylesheet{ background-position: 0 -703px; width: 16px; height: 16px; } 
.core-sprite-warning{ background-position: 0 -721px; width: 16px; height: 16px; } 

/* dijit theme overrides per graphic designer.  Mostly affecting drop down and menu appearance and hovers */
/* buttons */
.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 3px;
  padding: 0;
  padding-bottom: 3px;
  color: #222;
  margin: 0;
}

.claro .commandMenu .dijitButtonNode {
  color: #222;
}

/* button hover */
.claro .dijitButtonHover .dijitButtonNode,
.claro .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover,
.claro .dijitToggleButtonHover .dijitButtonNode {
    background-color: #e3e3e3;
    color: black;
	border: 1px solid #808080;
 }

/* arrow buttons*/
.claro .dijitArrowButtonInner {
	background-position: 0 -422px;	
	width: 5px; height: 3px;
	background-image: url(../images/core_sprites.png); 
	display: inline-block; 
	margin: 1px;
	vertical-align: middle; 
}

/* menus and menu items */

.claro .dijitMenu {
   background-color: #FFFFFF;
   border: 1px solid #9a9a9a;
}

.claro .dijitMenuItem {
   outline: none;
   padding-top:4px;
}

.claro .dijitMenuSeparatorTop {
	height: auto;
	margin-top: 1px;
	border-bottom: 1px solid #DDD;
}

.claro .dijitMenuItemLabel {
	position: relative;
	padding: 5px;
}

.claro .dijitMenuActive .dijitMenuItemHover, .claro .dijitMenuActive .dijitMenuItemSelected, .claro .dijitMenuActive .dijitMenuItemActive {
   background-color: #e3e3e3;
   color: black;
   background-image: none;
}

/* tooltips */
.claro .dijitTooltip {
	max-width: 300px;
}

.claro .dijitTooltipContainer {
  /* the part with the text */
  background-color: #ffffff;
  background-image: none;
 }
