.imageSprite {
   background: url(../images/core_sprites.png) no-repeat top left;
   display: inline-block;
   margin: 1px;
   vertical-align: middle;
}

.commandSprite {
   background: url(../images/core_sprites.png) no-repeat top left;
}

.commandImage {
	margin: 1px;
	margin-right: 4px;
	padding: 0;
	vertical-align: middle;
	cursor: pointer;
}

.commandOver {
	margin: 0;
	margin-right: 3px;
	vertical-align: middle;
	padding: 0;
	cursor: pointer;
    background-color: #ffeecc;
    border: 1px solid #ffcc66;
    border-radius: 3px;
}

.commandSeparator {
}

.commandLink {
	margin-right: 12px;
	cursor: pointer;
}

.commandLink:hover {
	margin-right: 12px;
	cursor: hand;
	text-decoration: underline;
}

.commandActiveItem {
	opacity: 1.0;
}

.commandInactiveItem {
	opacity: 0.3;
}

/* sprites for the core plugin, need to figure out where these really live */

.core-sprite-add{ background-position: 0 0; width: 16px; height: 16px; } 
.core-sprite-collapseAll{ background-position: 0 -66px; width: 16px; height: 16px; } 
.core-sprite-delete{ background-position: 0 -132px; width: 14px; height: 13px; } 
.core-sprite-diff-border-sel{ background-position: 0 -195px; width: 46px; height: 1px; } 
.core-sprite-diff-border{ background-position: 0 -246px; width: 46px; height: 1px; } 
.core-sprite-edit{ background-position: 0 -297px; width: 16px; height: 16px; } 
.core-sprite-error{ background-position: 0 -363px; width: 16px; height: 16px; } 
.core-sprite-expandAll{ background-position: 0 -429px; width: 16px; height: 16px; } 
.core-sprite-exportzip{ background-position: 0 -495px; width: 16px; height: 16px; } 
.core-sprite-file{ background-position: 0 -561px; width: 16px; height: 16px; } 
.core-sprite-folder{ background-position: 0 -627px; width: 16px; height: 16px; } 
.core-sprite-gear{ background-position: 0 -693px; width: 16px; height: 16px; } 
.core-sprite-help{ background-position: 0 -759px; width: 16px; height: 16px; } 
.core-sprite-importzip{ background-position: 0 -825px; width: 16px; height: 16px; } 
.core-sprite-info{ background-position: 0 -891px; width: 16px; height: 16px; } 
.core-sprite-leftarrow{ background-position: 0 -957px; width: 16px; height: 16px; } 
.core-sprite-link{ background-position: 0 -1023px; width: 16px; height: 16px; } 
.core-sprite-makeFavorite{ background-position: 0 -1089px; width: 16px; height: 16px; } 
.core-sprite-move_down{ background-position: 0 -1155px; width: 16px; height: 16px; } 
.core-sprite-move_up{ background-position: 0 -1221px; width: 16px; height: 16px; } 
.core-sprite-new_file{ background-position: 0 -1287px; width: 16px; height: 16px; } 
.core-sprite-new_folder{ background-position: 0 -1353px; width: 16px; height: 16px; } 
.core-sprite-none{ background-position: 0 -1419px; width: 16px; height: 16px; } 
.core-sprite-orion{ background-position: 0 -1485px; width: 123px; height: 58px; } 
.core-sprite-problem{ background-position: 0 -1593px; width: 16px; height: 16px; } 
.core-sprite-refresh{ background-position: 0 -1659px; width: 16px; height: 16px; } 
.core-sprite-rename{ background-position: 0 -1725px; width: 16px; height: 16px; } 
.core-sprite-replace{ background-position: 0 -1791px; width: 16px; height: 16px; } 
.core-sprite-replaceAll{ background-position: 0 -1857px; width: 16px; height: 16px; } 
.core-sprite-rightarrow{ background-position: 0 -1923px; width: 16px; height: 16px; } 
.core-sprite-sep{ background-position: -173px 0; width: 1px; height: 16px; } 
.core-sprite-splitterleft{ background-position: -173px -66px; width: 6px; height: 11px; } 
.core-sprite-splitterright{ background-position: -173px -127px; width: 6px; height: 11px; } 
.core-sprite-start{ background-position: -173px -188px; width: 16px; height: 16px; } 
.core-sprite-stop{ background-position: -173px -254px; width: 16px; height: 16px; } 
.core-sprite-transferin{ background-position: -173px -320px; width: 16px; height: 16px; } 
.core-sprite-transferout{ background-position: -173px -386px; width: 16px; height: 16px; } 
.core-sprite-twistie_closed{ background-position: -173px -452px; width: 16px; height: 16px; } 
.core-sprite-twistie_open{ background-position: -173px -518px; width: 16px; height: 16px; } 
.core-sprite-twistie_partOpen{ background-position: -173px -584px; width: 16px; height: 16px; } 
.core-sprite-warning{ background-position: -173px -650px; width: 16px; height: 16px; } 

/* temporary sprite hacks */
.core-sprite-options{ background-position: 0px 0px; width: 16px; height: 16px; background: url(../images/more.gif) no-repeat top left; display: inline-block; margin: 1px; vertical-align: middle; }
.core-sprite-ok{ background-position: 0px 0px; width: 16px; height: 16px; background: url(../images/ok.gif) no-repeat top left; display: inline-block; margin: 1px; vertical-align: middle; }

/* dojo theme changes according to graphic designer, primarily menu hovers */

.nihilo .dijitMenu, .nihilo .dijitMenuBar {
    background-color: #FFFFFF;
    border: 1px solid #9a9a9a;
    margin: 0;
    padding: 0;
}

.nihilo .dijitMenuItem {
    color: black;
    font-family: sans-serif;
    margin: 0;
}

.nihilo .dijitDropDownButton, .nihilo .dijitComboButton {
	vertical-align: baseline;
	margin: 0;
}

.nihilo .dijitMenuPassive .dijitMenuItemHover, .nihilo .dijitMenuItemSelected {
    background-color: #e3e3e3;
    color: black;
}

.nihilo dijitButtonHover, .nihilo .dijitButtonHover .dijitButtonNode, .nihilo .dijitButtonNodeHover, .nihilo .dijitToggleButtonHover .dijitButtonNode, .nihilo .dijitDropDownButtonHover .dijitButtonNode, .nihilo .dijitButtonContentsHover, .nihilo .dijitUpArrowButtonHover, .nihilo .dijitDownArrowButtonHover {
    background: #e3e3e3;
    color: black;
}
.nihilo .dijitButtonActive, .nihilo .dijitButtonActive .dijitButtonNode, .nihilo .dijitToggleButtonActive .dijitButtonNode, .nihilo .dijitDropDownButtonActive .dijitButtonNode, .nihilo .dijitComboButtonActive .dijitButtonContents, .nihilo .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
    border: 1px solid #eba600;
    background: #e3e3e3;
}

.nihilo .dijitDropDownButtonFocused {
    opacity: 1.0 !important;
}

.nihilo .dijitTooltip {
	max-width: 300px;
	font: 9pt Arial,Helvetica,Myriad,Tahoma,clean,sans-serif; 
}