.dijitBorderContainer .dojoxToggleSplitterLeft,
.dijitBorderContainer .dojoxToggleSplitterRight {
	width:16px;
}

.nihilo .dijitSplitterV  {
	background: #DDDDDD;
	width: 8px;
}

.nihilo .dijitSplitterV .dijitSplitterThumb {
	width: 8px;
	left: 0px;
	height: 28px;
	cursor: pointer;
	//background-color: #AAAAAA;
}

/* handcrafted positions taken from sprites.  be careful. 
   heights and y coordinates adjusted to give bigger hit area.
*/

.nihilo .dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpen, 
.nihilo .dojoxToggleSplitterRight .dojoxToggleSplitterIconClosed 
{
   background: url(../images/core_sprites.png) no-repeat top left;
   background-position: -173px -119px; width: 10px; height: 27px;
}

.nihilo .dojoxToggleSplitterRight .dojoxToggleSplitterIconOpen, 
.nihilo .dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosed 
{
	background: url(../images/core_sprites.png) no-repeat top left;
	background-position: -173px -58px; width: 10px; height: 27px;
} 
