.dijitBorderContainer .dojoxToggleSplitterLeft,
.dijitBorderContainer .dojoxToggleSplitterRight {
	width:16px;
}

.nihilo .dijitSplitterV  {
	background: #DDDDDD;
	width: 8px;
}

.nihilo .dijitSplitterV .dijitSplitterThumb {
	width: 8px;
	left: 0;
	height: 28px;
	cursor: pointer;
	/*background-color: #AAAAAA;*/
}

/* handcrafted height and y position for larger hit area.  +4 on y position, +8 on height */
.nihilo .dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpen, 
.nihilo .dojoxToggleSplitterRight .dojoxToggleSplitterIconClosed 
{
	background-image: url(../images/core_sprites.png);
	background-position: -96px -852px; 
	width: 6px; height: 19px;
} 


.nihilo .dojoxToggleSplitterRight .dojoxToggleSplitterIconOpen, 
.nihilo .dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosed 
{
	background-image: url(../images/core_sprites.png);
	background-position: -96px -913px; width: 6px; height: 19px; 
} 
