/*
	Items that should appear on top of other orion visual components should have a z-index of 100 or greater.
*/

@import "./theme.css";

html {
  overflow-x: hidden; /* workaround to get rid of horizontal scrollbar */
  cursor: default;
}

html, body {
	margin: 0;
	padding: 0;
	font: 8pt Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,Myriad,Tahoma,clean,sans-serif; 
	min-width:700px;
}

h1 {
	font-size:1.5em;
	font-weight: bold;
	color: #6d6d6d;
	line-height: 36px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}



.navlink {
	display: inline-block;
	padding: 2px;
}

.navlinkonpage {
	text-decoration: none;
	padding: 2px;
}

.navlinkonpage:active {
	text-decoration: none;
}

.navlinkonpage:hover {
	text-decoration: none;
	border-bottom: 1px dotted;
}

.dragOver {
	background: #ffffd8;
	outline: #AAA 2px dotted !important;
}

.logo {
	background-image: url(../images/core_sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -517px; 
	width: 37px; height: 14px; 
	margin-top: 6px;
	margin-right:5px;
}


.pageNav {
	color: #808080;
	font-size: 8pt;
}

.pageActions {
	min-height: 28px;
	margin-top: 4px;
}

/* 4px margin used by toolbar, plus 4px of border/padding */
.status {
	padding-top: 8px;
	vertical-align: baseline;
}

/* marker for finding section and main toolbars */
.toolComposite {
}

.taskTitle {
	min-width: 10em;
}

.taskDescription {
	font-size: 8pt;
	padding: 8px;
}

.pageNavigationActions {
	text-align: right;
	min-height: 30px;
}

.parameters {
	color: #404040;
	vertical-align: middle;
}

.parametersDismiss {
	color: #404040;
	vertical-align: middle;
	font-weight: normal;
}

.dismiss {
	border: 1px solid transparent;
    border-radius: 2px;
	cursor: pointer;
	padding: 1px;
	font-size: 8pt;
	margin: 0;
	margin-left: 8px;
	vertical-align: middle;
}
.dismiss:hover {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

.parameterInput {
	margin-right: 16px;
	margin-bottom: 8px;
	font-weight: normal;
	vertical-align: baseline;
}

.parameterInputurl {
	width: 30em;
}

.parameterInputcheckbox {
	width: auto;
}

.parameterInputtextarea {
	vertical-align: top;
	width: 50em;
}

.parameterPopup {
	min-width: 15em;
	max-width: 100em;
}

.navTableHeading {
	color: #404040;
	border-bottom: 1px solid #404040;
}

.navColumn {
	min-width: 150px;
	padding-right: 8px;
	vertical-align: baseline;
}

.navRow {
	vertical-align: baseline;
	border-spacing: 8px;
}

.mainNavColumn {
	display: inline-block;
	padding: 4px;
	vertical-align: baseline;
}

.singleNavColumn {
	width: 100%;
	white-space: nowrap;
}

.actionsColumn {
	min-width: 300px;
	text-align: right;
	padding-left: 16px;
	vertical-align: middle;
	height: 24px;  /* breathing room */
}

.selectionCheckmarkSprite {
	display: inline-block; 
	vertical-align: middle; 
	background-image: url(../images/core_sprites.png);
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 4px;
}

.modelDecorationSprite { 
	display: inline-block; 
	vertical-align: middle; 
	background-image: url(../images/core_sprites.png);
	margin-left: 8px;
	padding-right: 8px;
	margin-right: 8px;
}

.advancedSearchDecorationSprite { 
	display: inline-block; 
	vertical-align: middle; 
	background-image: url(../images/core_sprites.png);
	margin-left: 0px;
	padding-right: 0px;
}

.thumbnail {
	vertical-align: middle; 
	padding: 0;
	margin: 0;
	margin-left: 8px; 
	padding-right: 8px;
	margin-right: 8px;
	max-height: 24px;
	max-width: 48px;
}

/* less hit-area since we aren't worried about touch */
@media all and (min-device-width: 1025px) {
	.modelDecorationSprite { 	
		padding: 0;
		margin: 0;
		margin-left: 2px;
		padding-right: 2px;
		margin-right: 2px;
	}
	
	.thumbnail {
		margin-left: 2px; 
		padding-right: 2px;
		margin-right: 2px;
		max-height: 24px;
		max-width: 48px;
	}
	
	.selectionCheckmarkSprite { 	
		padding: 0;
		padding-left: 2px;
		padding-right: 2px;
		margin-right: 2px;
	}
	
	.checkColumn {
		width: 22px;
	}
}

.pane {
   	margin: 0;
    padding: 0;
    background: #FFFFFF;
    min-width: 300px;
}

.userEditBoxPrompt {
	background: white;
	color: black;
}

.auxPadding {
	padding-left: 8px;
	padding-top: 2px;
    padding-bottom: 8px;
}

.claro .dijitDialogTitleBar {
    background: white;
    color: black;
    font: 8px;
    outline: 0 none;
    padding: 5px 6px 3px;
}
 
.help {
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 8px;
	padding-right: 8px;
}

.progress {
	text-align: right;
	margin-right: 8px;
}

.progressInfo {
	background-color: #e4f0fb;
	border: 1px solid #b8cfe6;
}

.progressWarning {
	background-color: #fbf3e4;
	border: 1px solid #e6d7b8;
}

.progressError {
	background-color: #fbf4ec;
	border: 1px solid #e6b8c7;
}

.progressNormal {
	background-color: #efefef;
	border: 1px solid #cfcfcf;
}

.progressPane {
	vertical-align: bottom;
	margin-right: 8px;
	background-position: 0 0; 
	text-align: right;
	border: 0;
	width: 16px;
	height: 16px;
}

.progressPane_operations {
	margin-top: 4px;
	/* background-image: url(../images/core_sprites.png); 
	background-position: -96px -328px; */
	width: 16px; height: 16px; 
	visibility: hidden;  /* accessibility.  don't tab here when invisible */
}

/* we don't sprite an animated gif */
.progressPane_running {
	margin-top: 8px;
	background: url(../images/progress_running.gif) no-repeat center;  
	width: 16px; height: 16px;
}

.progressPane_running_dialog {
	vertical-align: middle;
	background: url(../images/progress_running.gif) no-repeat center;  
	width: 16px; height: 16px;
}

.progressPane_finished_dialog {
	vertical-align: middle;
	background: url(../images/none.png) no-repeat center;  
	width: 16px; height: 16px;
}

.progressPane_error {
	margin-top: 4px;
	background-image: url(../images/core_sprites.png);
	background-position: 0 -561px; 
	width: 16px; height: 16px;
}

.progressPane_warning {
	margin-top: 4px;
	background-image: url(../images/core_sprites.png);
	background-position: -96px -1440px; 
	width: 16px; height: 16px;
}

.progressPane_empty {
	margin-top: 4px;
	background: inherit;
	visibility: hidden; /* accessibility.  don't tab here when empty */
}

.footer {
	text-align: left;
	width: 100%;
	border: 0;
	padding: 0;
	border-top: 1px solid #dbdbdb
}

.toolbarLabel {
	padding-left: 8px;
}

.slideContainer {
	height: auto;
	width: 97%;
	clear: both;
	float: left;
	border-radius: 2px;
	margin: 8px;
	display: none;
	vertical-align:middle;
	font-size:11px;
	z-index: 50;
}

.slideParameters {
	border: 1px solid #808080;
	background-color: #d7d7d7;
}

.slideContainerActive {
	display: block;
}

.activeCommand {
	background-color: #e3e3e3;
	border: 1px solid #9a9a9a;
}

/* marker used by parameter collectors to identify commands */
.commandMarker {
}

.bannerMenu {
	margin: 0;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 7pt;
	display: inline-block;
	padding-tp:0 !important;
	vertical-align: baseline;
}

.bannerMenuSearchOptions {
	margin-left: -20px;
}

.bannerButton {
	border: 1px solid transparent;
	text-align: center;
	vertical-align: baseline;
    cursor: pointer;
    display: inline-block;
    border-radius:3px;
    margin: 2px;
    padding: 2px;
}

.bannerButton:hover {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

.toolbarButton {
	border: 0;
	padding: 0;
	height: 20px;
}

.searchFloat {
	display: none;
	background: #ffffe0;
	position: absolute;
	left: 20px;
	top: 10px;
	min-width: 300px;
	max-width: 650px;
	border: 1px solid #bfbfbf;
	padding: 4px;
	z-index: 100;
}

.keyAssistFloat {
	color: white;
	display: none;
	background: #333;
	position: fixed;
	left: 44px;
	top: 60px;
	padding: 4px;
	float: left;
	z-index:100;
}

.inputCompletionContainer {
	color: black;
	display: block;
	border:  1px solid #666;
	background: white;
	max-height: 300px;
	max-width: 300px;
	min-width: 150px;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 2px;
	z-index:200;
}

.advSearchOptContainer {
	color: black;
	display: block;
	border:  1px solid #666;
	background: white;
	max-height: 300px;
	max-width: 300px;
	min-width: 150px;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 2px;
	z-index:200;
}

.advSearchOptUL {
	list-style : none;
	margin: 0;
	padding: 0;
}

.advSearchOptLIControl {
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 1px;
	margin-bottom: 8px;
	background : white;
}

.advSearchOptLILabel {
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 1px;
	background : white;
}

.advSearchOptButton {
	text-align: center;
	vertical-align: baseline;
    cursor: pointer;
    border-radius:3px;
    padding: 2px;
}

.inputCompletionUL {
	list-style : none;
	margin: 0;
	padding: 0;
}

.inputCompletionLISelected {
	background : #ffeecc;/*#0080ff;*/
}

.inputCompletionLICategory {
	font-weight: bold;
}

.inputCompletionLINormal {
	background : white;
}

.keyAssistFloat h2 {
	color: white;
}

#tree {
	margin-right: 9em;
	overflow-x: hidden;
}

#treeButtons br {
	line-height: 0.5em;
}

#treeButtons {
	margin: 0;
	padding: 0;
	float: right;
	width: 9em;
}

#treeButtons .contentButton {
	width: 8.5em;
	margin: 0;
	margin-bottom: 3px;
	font-size: 1em;
}

.testResult {
	background-color: #444444 !important;
	color: white;
}

.folderItem {
	background: url(../images/folder.gif);
}

.fileItem {
	background: url(../images/file.gif);
}

.newItem {
	background: url(../images/add.gif);
}

.treetable {
	border-spacing: 0;
	min-width: 600px;
	width:100%;
}

.favoritesTable {
	border-collapse: separate;
	border-spacing: 2;
	overflow-x: hidden; /* because it is placed inside a div with overflow scrollbars */
}

.secondaryColumn {
	color: #666666;	
	padding-right: 8px;
}

.primaryColumn {
	color: #024892;
	text-decoration: none;
}

.checkColumn {
	padding: 0;
}

.lightTreeTableRow > td {
	border-bottom: 1px solid whiteSmoke;
}

.darkTreeTableRow > td {
	border-bottom: 1px solid whiteSmoke;
}

.testNavTreetable {
	min-width: 150px;
}

.testResultTreetable {
	min-width: 600px;
}

.contentassist {
	font-size:11px;
	display: none;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 1px solid #DDD;
	z-index:100;
	cursor: default;
	overflow: auto;
	height: 150px;
	width: 350px;
}

.contentassist:focus {
	border: 1px solid #666;
}

.contentassist .proposal-emphasis {
	font-weight: normal;
}

.contentassist hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contentassist .proposal-noemphasis {
	background-color: aliceblue;
	font-weight: lighter;
	color: grey;
}
.contentassist .proposal-hr {
	/* display as horizontal rule */
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.contentassist .proposal-default {
	/* nothing */
}

.contentassist .selected {
	/* background-color: #a6bfe1; */
	font-weight:bold;
	padding-bottom: 3px;
	background-color: #FEC;
	font-weight: bold;
}


.contentassist>div {
	padding: 1px 3px 0 3px;
}

.contentassist>div:hover {
	background-color: #EAF2FE;
}

.selectionModelContainer {
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none; /*-moz-none allows override in children*/
	-ms-user-select: none;
	user-select: none;
}

input {
	-moz-user-select: text;
}

.treeIterationCursor {
	outline: #AAA 1px dotted !important;
	border-radius:4px;
}

.treeIterationCursorRow {
	background-color: #f3f6fe;
}

.treeIterationCursorRow_Dotted {
	outline: #AAA 1px dotted !important;
	background-color: #f3f6fe;
}

.searchCmdGroupMargin {
	margin-left: 16px;
}

.LoginWindowLeft {
	padding-left: 0.5em;
}

.LoginWindowRight {
	padding-right: 0.5em;
}

.LoginWindowComment {
	font-size: 0.9em;
	padding-left: 15px;
}

#outline #switchOutlineMenu {
	float: right;
}

#outline #switchOutlineMenu .commandImage {
	display: none;
}

#outline>ul {
	padding-left: 0 !important;
	clear: both;
	margin: 4px 0 0 8px;
}

#outline ul {
	padding-left: 14px;
}

#outline li {
	padding-bottom: 2px;
	list-style-type: none;
	white-space: nowrap; /*wrapping makes indented list hard to read*/
}

.uploadContainer{
	padding:20px;
	font-weight:bold;
}

.dottedOutline{
	border: #DDD 4px dashed;
	border-radius: 2px;
	padding:50px;
	height:300px;
	width: 300px;
}

.floatingSection{
	color: #DDD;
}

.uploadInstruction{
	font-size: 18pt;
	color: #CCC;
	padding: 0 0 25px;
	text-align:center;
}

.tipInstruction{
	font-size: 12pt;
	color: #CCC;
	padding: 0 0 100px;
	text-align:center;
}

.uploadOptions {
	font-size: 14pt;
	color: #BBB;
	padding: 0 0 100px;
	text-align: center;
	vertical-align: middle;
}

.uploadOptionsItem {
	font-size: 12pt;
	color: #BBB;
	text-align: center;
	vertical-align: middle;
	margin: 0 8px !important;
}

.uploadBrowser{
	left:50px;
}

.targetSelector{

}
