html {
  overflow-x: hidden; /* workaround to get rid of horizontal scrollbar */
}

html, body {
	margin: 0;
	padding: 0;
	font: 9pt Arial,Helvetica,Myriad,Tahoma,clean,sans-serif; 
}

h1 {
	font-size:1.5em;
	font-weight: bold;
	color: #6d6d6d;
	line-height: 36px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

a {
	cursor: hand;
	text-decoration: none;
	color: #024892;
}

a:visited {
	color: #024892;
}

a:active {
	color: #024892;
}

a:hover {
	cursor: hand;
	text-decoration: underline;
	color: #024892;
}

.navlinkonpage {
	color: #024892;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:visited {
	color: #024892;
}

.navlinkonpage:active {
	color: #024892;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:hover {
	color: #024892;
	cursor: hand;
	text-decoration: none;
	border-bottom: 1px dotted;
}

.globalActions {
	color: #6d6d6d;
	cursor: pointer;
}

.globalActions a {
	color: #0058b8;
}

.globalActions a:hover {
	color: #0058b8;
	cursor: hand;
	text-decoration: underline;
}

.pageActions {
	color: #dddddd;
	cursor: pointer;
}

.pageActions:visited {
	color: #dddddd;
}

.pageActions:hover {
	color: #dddddd;
	cursor: hand;
}

.pageActions a {
	color: #dddddd;
	cursor: pointer;
	text-decoration: none;
}

.pageActions a:hover {
	color: #cccccc;
	cursor: hand;
	text-decoration: underline;
}

.pageNavigationActions {
	text-align: right;
}

.parameters {
	color: #404040;
	vertical-align: middle;
}

.dismiss {
    border: 1px solid #f5f5f5;
}

.dismiss:hover {
	background-color: #ffeecc;
    border: 1px solid #ffcc66;
    border-radius: 3px;
}

.parameterInput {
	margin-left: 4px;
}

.parameterInputurl {
	width: 30em;
}

.navTableHeading {
	color: #404040;
	border-bottom: 1px solid #404040;
}

.navColumn {
	min-width: 150px;
	padding-right: 8px;
}

.actionsColumn {
	min-width: 300px;
	text-align: right;
	padding-left: 16px;
	vertical-align: middle;
	height: 24px;  /* breathing room */
}

.selectionTools {
	vertical-align: middle;
}

.selectionCheckmark {
	background-position: 0px 0px; 
	width: 16px; height: 16px; 
	background: url(../images/check.gif) no-repeat center; 
	display: inline-block; 
	vertical-align: middle; 
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 4px;
}

.selectionCheckmarkChecked {
	background-position: 0px 0px; 
	width: 16px; height: 16px; 
	background: url(../images/check_on.gif) no-repeat center; 
	display: inline-block; 
	vertical-align: middle; 
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 4px;
}

.core-sprite-twistie_closed { 
	background-position: 0px 0px; 
	width: 16px; height: 16px; 
	background: url(../images/twistie_closed.gif) no-repeat center;
	display: inline-block; 
	vertical-align: middle; 
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 8px;
}

.core-sprite-twistie_open { 
	background-position: 0px 0px; 
	width: 16px; height: 16px; 
	background: url(../images/twistie_open.gif) no-repeat center;
	display: inline-block; 
	vertical-align: middle; 
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 8px;
}
	
.core-sprite-file_model { 	
	background-position: 0px 0px; 
	width: 16px; height: 16px; 
	background: url(../images/file_model.gif) no-repeat center; 
	display: inline-block; 
	vertical-align: middle; 
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 8px;
}

/* less hit-area since we aren't worried about touch */
@media all and (min-device-width: 1025px) {
	.core-sprite-twistie_open, .core-sprite-twistie_closed, .core-sprite-file_model { 	
		padding: 0px;
		padding-left: 4px;
		padding-right: 4px;
		margin: 0px;
		margin-right: 2px;
	}
	
	.selectionCheckmark, .selectionCheckmarkChecked { 	
		padding: 0px;
		padding-left: 2px;
		padding-right: 2px;
		margin-right: 2px;
	}
	
	.checkColumn {
		width: 22px;
	}
}

.thumbnail {
	vertical-align: middle; 
	margin-left: 4px; 
	margin-right: 4px;
	max-height: 24px;
	max-width: 48px;
}

.pane {
   	margin: 0;
    padding: 0;
    background: #FFFFFF;
    min-width: 300px;
}

.paneHeading {
	font-size: 1.2em;
	font-weight: bold;
	color: #666666;
	vertical-align: middle;
	margin-right: 16px;
}

.paneHeadingToolbar {
	text-align: right;
	vertical-align: middle;
	margin-left: 16px;
}

.paneHeadingContainerFixed {
	min-width: 300px;
}

.paneHeadingContainer {
	border-bottom: 1px dotted #bfbfbf;
	margin: 8px;
	margin-top: 12px;
}

.paneHeadingCommands {
	text-align: right;
}

.userEditBoxPrompt {
	background: white;
	color: black;
}

.landingHeading {
	font-size: 2.0em;
	color: #666666;
	padding-bottom: 8px;
}

.landingDescription {
	font-size: 1.6em;
	color: #404040;
}

.landingImage {
	border: 1px solid #6d6d6d;
}

.landingLink {
	font-size: 1.2em;
	color: #404040;
	padding-left: 24px;
	padding-bottom: 8px;
}

.landingPanelContainer {
	background: #EDEDED;
	padding: 0;
	margin: 0;
	border-left: 1px solid white;
	border-right: 2px solid white;
}

.landingPanel {
	background: #EDEDED;
	border-left: 1px solid white;
	border-right: 1px solid #cccccc;
	padding: 0;
	margin: 0;
}

.auxpane {
	border-left: 2px solid white;
    padding-left: 32px;
    padding-top: 20px;
    background: #ededed;
    overflow-x: auto;
}

.auxpaneNoPadding {
    background: #ededed;
}

.nihilo .dijitSplitterV .dijitSplitterThumb {	
	background: #dddddd;
}

.nihilo .dijitSplitterV {
	background: #dddddd;
	border-right: 1px solid #bfbfbf;
}

.nihilo .dijitSplitterH .dijitSplitterThumb {	
	background: #dddddd;
}

.nihilo .dijitSplitterH {
	background: #dddddd;
}

.nihilo .dijitDialogTitleBar {
    background: white;
    color: black;
    font: 8px;
    outline: 0 none;
    padding: 5px 6px 3px;
}

.nihilo .dijitTreeRowSelected .dijitTreeLabel {
	background-color: #fedda7;   /* same color used for command menu hover */
}

.mainpane {
    margin: 0;
    padding-left: 8px;
    padding-top: 20px;
    background: #FFFFFF;
	overflow: auto;
}

/* not used currently but keep it just in case */
.statuspane {
	text-decoration: none;
	cursor: pointer;
	background: #ebebeb;
	height: 2em;
}

.help {
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 8px;
	padding-right: 8px;
}

.progressPane {
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: bottom;
	background-position: 0px 0px; 
	text-align: right;
}

.progressPane_operations {
	background: url(../images/progress_none.gif) no-repeat center;  /* TODO move icon to sprite*/
}

.progressPane_running {
	background: url(../images/progress_running.gif) no-repeat center;  /* TODO move icon to sprite*/
}

.progressPane_error {
	background: url(../images/progress_error.gif) no-repeat center;  /* TODO move icon to sprite*/
}

.progressPane_warning {
	background: url(../images/progress_warning.gif) no-repeat center;  /* TODO move icon to sprite*/
}

.progressPane_empty {
	background: inherit;
}

.toolbar {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: hidden; /* works around a "mystery pixels" problem in IE, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=339302 */
	cursor: pointer;
	font-size: 0.9em;
	min-height: 112px; 
}

.pageTitle {
	font-size: 12pt;
	vertical-align: top;
	color: #666666;
}

.footer {
	text-align: center;
	width: 100%;
	background: #f5f5f5;
	border: 0;
	padding: 0;
	cursor: pointer;
	font-size: 0.9em;
	color: #333333;
	min-height: 2.5em; 
	border-top: 1px solid #dbdbdb
}

.toolbarLabel {
	padding-left: 8px;
}

.topRowBanner {
	margin: 0;
	border: 0;
	padding: 0;
	background: #f5f5f5;
}

.bottomRowBanner {
	margin: 0;
	border: 0;
	padding: 0;
}

.leftGlobalToolbar {
	background: #f5f5f5;
	text-align: left;
}

.rightGlobalToolbar {
	background: #f5f5f5;
	text-align: right;
}

.pageToolbar {
	background: #404040;
	vertical-align: middle;
	height: 2.5em;
}

.pageToolbarLeft {
	background: #404040;
	text-align: left;
	padding-left: 16px;
}

.pageToolbarRight {
	background: #404040;
	text-align: right;
	padding-right: 16px;
}

.slideContainer {
	border-bottom: 1px solid #ededed;
}

.leftSlide {
	text-align: left;
	vertical-align: middle;
	float: left;
	margin-left: -400px;
	background: #f5f5f5;
	opacity: 0;
	height: 0;
 	transition: margin-left .5s ease-out;
	-o-transition: margin-left .5s ease-out;
	-moz-transition: margin-left .5s ease-out;
	-webkit-transition: margin-left .5s ease-out;   
}

.activeCommand {
	border: 1px solid #ffd400;
	padding: 2px;
}

.leftSlideActive {
	margin-left: 0;
	padding: 8px;
	opacity: 1;
	height: auto;
	border-bottom-right-radius: 15px;
	border-right: 2px solid #ffd400;
	border-bottom: 2px solid #ffd400;
}

.rightSlide {
	vertical-align: middle;
	float: right;
	height: 0;
	width: auto;
	margin-right: -150px;
	background: #f5f5f5;
	opacity: 0;
 	transition: margin-right .5s ease-out;
	-o-transition: margin-right .5s ease-out;
	-moz-transition: margin-right .5s ease-out;
	-webkit-transition: margin-right .5s ease-out;
}

.rightSlideActive {
	opacity: 1;
	margin-right: 1px;
	padding: 8px;
	height: auto;
	border-bottom-left-radius: 15px;
	border-left: 2px solid #ffd400;
	border-bottom: 2px solid #ffd400;
}

.searchbox {
	margin-left: 12px;
	margin-right: 8px;
	background: #f5f5f6;
	border: 1px solid #a6a6a6;
	font-size: 0.9em;
}

.nihilo .dijitButtonNode {
	background-image: none;
	background: none;
	border: 0;
	padding: 0;
	height: 20px;
}

.toolbarButton {
	border: 0;
	padding: 0;
	height: 20px;
}

.toolbarTest {
/*	background: #fff url("../images/titleBarTest.png")  repeat-x top left; */
	border:1px solid #bfbfbf;
	cursor: default;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}

.searchFloat {
	display: none;
	background: #ffffe0;
	position: absolute;
	left: 20px;
	top: 10px;
	width: 300px;
	border: 1px solid #bfbfbf;
	padding: 4px;
}

.keyAssistFloat {
	display: none;
	background: #404040;
	color: #FFD900;
	position: fixed;
	left: 44px;
	top: 60px;
	padding: 4px;
	float: left;
	z-index:10;
}

.keyAssistFloat h2 {
	color: #FFD900;
}

#rightPane .dijitTitlePaneContentInner {
	padding: 0; /* Remove the padding around the editor */
}

#codeTitle .dijitTitlePaneContentInner {
	padding: 0; /* Remove the padding around the editor */
}

#tree {
	margin-right: 9em;
	overflow-x: hidden;
}

#treeButtons br {
	line-height: 0.5em;
}

#treeButtons {
	margin: 0;
	padding: 0;
	float: right;
	width: 9em;
}

#treeButtons .contentButton {
	width: 8.5em;
	margin: 0;
	margin-bottom: 3px;
	font-size: 1em;
}

.checkedRow {
	background-color: #e3e3e3 !important;
}

.testResult {
	background-color: #444444 !important;
	color: white;
}

.folderItem {
	background: url(../images/folder.gif);
}

.fileItem {
	background: url(../images/file.gif);
}

.newItem {
	background: url(../images/add.gif);
}

.treetable {
	border-spacing: 0;
	min-width: 600px;
}

.favoritesTable {
	border-spacing: 0;
	overflow-x: hidden; /* because it is placed inside a div with overflow scrollbars */
}

.secondaryColumn {
	color: #666666;	
	padding-right: 8px;
}

.primaryColumn {
	color: #024892;
	text-decoration: none;
}

.checkColumn {
	padding: 0px;
}

.lightTreeTableRow {
	background-color: #FFFFFF;
}

.darkTreeTableRow {
	background-color: #f7f7f7;
}

.testNavTreetable {
	cellspacing: 0; /* mistake? */
	min-width: 150px;
}

.testResultTreetable {
	cellspacing: 0; /* mistake? */
	min-width: 600px;
}

.contentassist {
	display: none;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 2px inset #DDD;
	z-index:10;
	cursor: default;
	overflow: auto;
	height: 150px;
	width: 300px;
}

.contentassist .selected {
	background-color: #DDD;
}

.contentassist>div {
	padding: 1px 3px 0 3px;
}

.contentassist>div:hover {
	background-color: #EAF2FE;
}

.currentSearchMatch {
	background-color: #CEFFFF !important;
}

.searchCmdGroupMargin {
	margin-left: 16px;
}

.LoginWindowLeft {
	padding-left: 0.5em;
}

.LoginWindowRight {
	padding-right: 0.5em;
}

.LoginWindowComment {
	font-size: 0.9em;
	padding-left: 15px;
}

#outline #switchOutlineMenu {
	float: right;
}

#outline #switchOutlineMenu .commandImage {
	display: none;
}

#outline>ul {
	padding-left: 0 !important;
	clear: both;
	margin: 4px 0 0 8px;
}

#outline ul {
	padding-left: 14px;
}

#outline li {
	list-style-type: none;
	white-space: nowrap; /*wrapping makes indented list hard to read*/
}

.test-passed {
	background-color: #11FF11;
}

.test-failed {
	background-color: #FF1111;
}

#test-overview {
	margin: 8px;
}

#test-tree {
	margin: 8px;
}

