html {
  overflow-x: hidden; /* workaround to get rid of horizontal scrollbar */
}

html, body {
	margin: 0;
	padding: 0;
	font: 9pt Arial,Helvetica,Myriad,Tahoma,clean,sans-serif; 
}

h1 {
	font-size:1.5em;
	font-weight: bold;
	color: #6d6d6d;
	line-height: 36px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

a {
	cursor: hand;
	text-decoration: none;
	color: #024892;
}

a:visited {
	text-decoration: none;
	color: #024892;
}

a:active {
	text-decoration: none;
	color: #024892;
}

a:hover {
	cursor: hand;
	text-decoration: underline;
	color: #024892;
}

.navlinkonpage {
	color: #024892;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:visited {
	color: #024892;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:active {
	color: #024892;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:hover {
	color: #024892;
	cursor: hand;
	text-decoration: none;
	border-bottom: 1px dotted;
}

.globalActions {
	color: #6d6d6d;
	cursor: pointer;
}

.globalActions a {
	color: #0058b8;
}

.globalActions a:hover {
	color: #0058b8;
	cursor: hand;
	text-decoration: underline;
}

.pageActions {
	color: #dddddd;
	cursor: pointer;
}

.pageActions:visited {
	color: #dddddd;
	cursor: pointer;
}

.pageActions:hover {
	color: #dddddd;
	cursor: hand;
}

.pageActions a {
	color: #dddddd;
	cursor: pointer;
	text-decoration: none;
}

.pageActions a:hover {
	color: #cccccc;
	cursor: hand;
	text-decoration: underline;
}

.navTableHeading {
	color: #404040;
	border-bottom: 1px solid #404040;
}

.navColumn {
	min-width: 150px;
}

.pane {
   	margin: 0px;
    padding: 0px;
    background: #FFFFFF;
}

.paneHeading {
	font-size: 1.2em;
	font-weight: bold;
	color: #404040;;
	vertical-align: middle;
}

.paneHeadingToolbar {
	text-align: right;
	vertical-align: middle;
	height: 30px;
}

.paneHeadingContainer {
	border-bottom: 1px dotted #6d6d6d;
	height: 30px;
}

.userEditBoxPrompt {
	background: white;
	color: black;
}

.landingHeading {
	font-size: 2.0em;
	color: #404040;
	padding-bottom: 8px;
}

.landingDescription {
	font-size: 1.6em;
	color: #404040;
}

.landingImage {
	border: 1px solid #6d6d6d;
}

.landingLink {
	font-size: 1.2em;
	color: #404040;
	padding-left: 24px;
	padding-bottom: 8px;
}

.landingPanelContainer {
	background: #EDEDED;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #cccccc;
}

.landingPanel {
	background: #EDEDED;
	border-left: 1px solid white;
	border-right: 1px solid #cccccc;
	border-top: 1px solid white;
	border-bottom: 1px solid #cccccc;
	padding: 0px;
	margin: 0px;
}

.auxpane {
    padding-left: 32px;
    padding-top: 20px;
    background: #EDEDED;
    overflow-x: auto;
}

.nihilo .dijitSplitterV .dijitSplitterThumb {	
	background: #c5c5c5;
}

.nihilo .dijitSplitterV {
	background: #c5c5c5;
}

.nihilo .dijitSplitterH .dijitSplitterThumb {	
	background: #c5c5c5;
}

.nihilo .dijitSplitterH {
	background: #c5c5c5;
}

.nihilo .dijitDialogTitleBar {
    background: #white;
    color: #black;
    font: 8px;
    outline: 0 none;
    padding: 5px 6px 3px;
}

.nihilo .dijitTreeRowSelected .dijitTreeLabel {
	background-color: #fedda7;   // same color used for command menu hover
}

.mainpane {
    margin: 0px;
    padding-left: 8px;
    padding-top: 20px;
    background: #FFFFFF;
	overflow: auto;
}

// not used currently but keep it just in case
.statuspane {
	text-decoration: none;
	cursor: pointer;
	background: #ebebeb;
	height: 2em;
	border-top: 1px solid #dbdbdb
}

.help {
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
}

.toolbar {
	background: #c5c5c5;
	border: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden; /* works around a "mystery pixels" problem in IE, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=339302 */
	cursor: pointer;
	font-size: 0.9em;
	color: #5a5a5a;
	border-bottom: 1px solid #dbdbdb;
	min-height: 108px; 
}

.pageTitle {
	font-size: 12pt;
	vertical-align: top;
}

.footer {
	text-align: center;
	width: 100%;
	background: #ebebeb;
	border: 0px;
	padding: 0px;
	cursor: pointer;
	font-size: 0.9em;
	color: #05386B;
	min-height: 2.5em; 
	border-top: 1px solid #dbdbdb
}

.toolbarLabel {
	padding-left: 8px;
}

.topRowBanner {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: #f5f5f5;
}

.bottomRowBanner {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.leftGlobalToolbar {
	background: #f5f5f5;
	text-align: left;
}

.rightGlobalToolbar {
	background: #f5f5f5;
	text-align: right;
}

.pageToolbar {
	background: #404040;
	vertical-align: middle;
	height: 2.5em;
}

.searchbox {
	margin-left: 12px;
	margin-right: 8px;
	background: #f5f5f6;
	border: 1px solid #a6a6a6;
	font-size: 0.9em;
}

.nihilo .dijitButtonNode {
	background-image: none;
	background: none;
	border: 0px;
	padding: 0px;
	height: 20px;
}

.toolbarButton {
	border: 0px;
	padding: 0px;
	height: 20px;
}

.toolbarTest {
/*	background: #fff url("/images/titleBarTest.png")  repeat-x top left; */
	border:1px solid #bfbfbf;
	cursor: default;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}

.toolbarLocal {
	padding:0px;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	background: #fff url("/images/titleBar.png") repeat-x top left;
	min-width: 600px;
}

.searchFloat {
	display: none;
	background: #ffffe0;
	position: absolute;
	left: 20px;
	top: 10px;
	width: 300px;
	border: 1px solid #bfbfbf;
	padding: 4px;
}

.keyAssistFloat {
	display: none;
	background: #404040;
	color: #FFD900;
	position: fixed;
	left: 44px;
	top: 60px;
	padding: 4px;
	float: left;
	z-index:10;
}

.keyAssistFloat h2 {
	color: #FFD900;
}

#rightPane .dijitTitlePaneContentInner {
	padding: 0px; /* Remove the padding around the editor */
}

#codeTitle .dijitTitlePaneContentInner {
	padding: 0px; /* Remove the padding around the editor */
}

#tree {
	margin-right: 9em;
	overflow-x: hidden;
}

#treeButtons br {
	line-height: 0.5em;
}

#treeButtons {
	margin: 0;
	padding: 0;
	float: right;
	width: 9em;
}

#treeButtons .contentButton {
	width: 8.5em;
	margin: 0;
	margin-bottom: 3px;
	font-size: 1em;
}

.checkedRow {
	background-color: #FFFFCC !important;
}

.testResult {
	background-color: #444444 !important;
	color: white;
}

.launchItemGo {
	background: url(/images/silk/server_go.png);
}
.launchItemStop {
	background: url(/images/silk/server_stop.png);
}

.projectItem {
	background: url(/images/prj_obj.gif);
}

.folderItem {
	background: url(/images/fldr_obj.gif);
}

.fileItem {
	background: url(/images/file_obj.gif);
}

.newItem {
	background: url(/images/add_obj.gif);
}

.treetable {
	border-spacing: 0px;
	min-width: 600px;
}

.favoritesTable {
	border-spacing: 0px;
	overflow-x: hidden; // because it is placed inside a div with overflow scrollbars
}

.secondaryColumn {
	color: #666666;	
}

.lightTreeTableRow {
	background-color: #FFFFFF;
}

.darkTreeTableRow {
	background-color: #f8f8ff;
}

.testNavTreetable {
	cellspacing: 0px; /* mistake? */
	min-width: 150px;
}

.testResultTreetable {
	cellspacing: 0px; /* mistake? */
	min-width: 600px;
}

.followFile {
	background: url(/images/silk/page_go.png);
}

.contentassist {
	display: none;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 1px solid black;
	z-index:10;
}

.contentassist .selected {
	background-color: #DDDDDD;
}

.test-passed {
	background-color: #11FF11;
}

.test-failed {
	background-color: #FF1111;
}

#test-overview {
	margin: 8px;
}

#test-tree {
	margin: 8px;
}

