.sectionIcon {
	float: left;
	position: relative;
	height: 16px;
	vertical-align: text-top;
	width: 16px;
	padding-right: 10px;
}

.sectionTable {
	width: 97%;
	overflow-x: hidden;
	padding-right: 20px;
	padding-left: 10px;
}

.sectionTableItem {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.sectionTableItemActions {
	float: right;
	position: relative;
	color: #666;
}

.sectionExplorerActions {
	text-align: right;
}

.sectionWrapper {
	margin-top: 15px;
	padding-top: 5px;
	padding-left: 5px;
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
	border-radius:4px;
	margin-right: 8px;
	min-height: 26px;
	vertical-align: middle;
	font-weight: bold;
	color: #808080;
}

.sectionWrapperAux {
    background-color: #fafafa;
	border: 1px solid #ebebeb;
}

.sectionProgress {
    text-decoration: blink;
    visibility: hidden;
}
