/* Page color */

.orionPage {
	background-color: #fdfdfd;
	width: 100%;
	height: 100%;
}

/* Top row/navigation banner */

.topRowBanner {
	margin: 0;
	border: 0;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#333));
	height: 28px;
}

a {
	cursor: hand;
	text-decoration: none;
	color: #3087B3;
}

a:visited {
	color: #3087B3;
}

a:active {
	color: #3087B3;
}

a:hover {
	cursor: hand;
	text-decoration: underline;
	color: #3087B3;
}

/* Navigation text */

.primaryNav {
	font-size: 8pt; /* 7pt */
	font-weight:normal;
	color: #BFBFBF;
	padding-top: 6px;
	vertical-align: baseline;
}

.primaryNav a {
	font-size: 8pt; /* 7pt */
	color: #BFBFBF;
	margin-right: 6px;
	margin-left: 6px; 
	vertical-align: baseline;
	text-decoration: none;
}

.primaryNav a:hover {
	color: #bfbfbf;
	cursor: hand;
	color: white;
	font-weight:normal;
}

/* Title area - the place for location/breadcrumbs */

.titleArea {
    margin: 0;
    padding-top:5px;
    border: 0;
    background: #EFEFEF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%,#EFEFEF));
    border-bottom: 1px solid #DEDEDE;
    min-height:20px;
}

/* splitter - typically the color of the title area */
.split {
	background: #efefef;
}

.splitTracking {
	background: #dedede;
}

.splitThumb {
	background: #cdcdcd;
}

/* Row selection */

.checkedRow {
	background-color: #ffeecc !important; /* was e3e3e3 */
}

.navbar-item-selected {
	background: #FEC;
	color: black;
}


/* Breadcrumbs */

.breadcrumb {
	font-size: 8pt;
	text-decoration: none;
	color: #3087B3;
	padding-top:2px;
}

a.breadcrumb:hover {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: #F58B0F;
	cursor: pointer;
}

a.breadcrumb:visited {
	color: #3087B3;
}

.breadcrumbSeparator {
	font-size: 8pt;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.currentLocation {
	font-weight: bold;
	font-size: 8pt;
	color: #444;
	text-decoration: none;
	text-wrap: normal;
	line-height:10pt;
}

a.currentLocation:hover {
	font-weight: bold;
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
	border-bottom: 0;
}

.auxpane {
	border: 0;
	background: #fbfbfb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#fbfbfb));
	background: -moz-linear-gradient(top, #fbfbfb 0%, #fbfbfb 100%);
}

.mainpane {
	border: 0;
	background: white;
}

.mainToolbar {
 	height: 31px;
 	background: #ffffff;
	border-bottom: 1px solid #ebebeb;
}


/* Searchbox in the top navigation area seems a difficult thing to 
   get right. I've worked with a range of colors. What I notice is that
   if the edges are curved, then it seems to need a lighter shade. That
   draws more attention to the search box. It is more passive and fitting
   if drawn with straight edges and a darker background */

.searchbox {
    background-image: url(../images/core_sprites.png);
    background-repeat: no-repeat; 
    background-position: 4px -297px; 
    width: 12px; height: 12px;
    background-color: #444;
	border: 1px solid #222;
	font-size: 11px;
	width: 15em;
	height: 16px;
	border-radius: 10px; /* 10px */
	color:#999;
	padding:0;
	padding-left:20px;
	margin-left:5px;
	margin-top:6px !important;
	font: 7pt Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,Myriad,Tahoma,clean,sans-serif !important;
}

.searchbox:focus{
	color: white;
	outline:none;
}

.commandButton {
	color: #222;
	border: 1px solid #dedede;
	background-color: #efefef;
	text-align: center;
	vertical-align: baseline;
    cursor: pointer;
    display: inline-block;
    padding:6px;
    padding-top: 4px; /* To align with Command Menu */
    border-radius:1px;
    line-height: 12px;
    font-size:8pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandButtonOver {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

.commandMenu {
    color: #222;
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	font-size:8pt;
	font-weight:normal;
	border: 1px solid #dedede;
	background-color: #efefef;
    cursor: pointer;
    border-radius:1px;
}

.commandMenuItem {
	border: 0;
	padding: 0;
	margin: 0;
}

.commandImage {
	border: 1px solid transparent;
    border-radius: 2px;
	background-color: transparent;
	vertical-align: baseline;
	cursor: pointer;
	display: inline-block;
	padding: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandImageOver {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

/* should be used in conjunction with .commandButton when a tool has no icon. */
.commandMissingImageButton {
	font-weight:bold;
}

.commandMenuItemAnchor {
	padding-right: 40px;
}

.commandLink {
	display: inline-block;
	vertical-align: baseline;
	padding: 2px;  /* other commands have 1px plus a border, so we need 2 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandSeparator {
	padding: 2px;
}

.commandActive {
	background-color: #e6e6e6 !important;
	border: 1px solid #808080 !important;
    border-radius: 2px !important;
}


/* placeholders for possible hover states on command items */
.commandActiveItem {
}

.commandInactiveItem {
}

/* dijit overrides related to theming */
/* dijit theme overrides per graphic designer.  Mostly affecting drop down and menu appearance and hovers */
/* buttons */

.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 3px;
  padding: 0;
  padding-bottom: 3px;
  color: #222;
  margin: 0;
}

.claro .commandMenu .dijitButtonNode {
  color: #222;
}

/* button hover */
.claro .dijitButtonHover .dijitButtonNode,
.claro .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover,
.claro .dijitToggleButtonHover .dijitButtonNode {
    background-color: #e3e3e3;
    color: black;
	border: 1px solid #808080;
 }

/* arrow buttons*/
.claro .dijitArrowButtonInner {
	background-position: 0 -422px;	
	width: 5px; height: 3px;
	background-image: url(../images/core_sprites.png); 
	display: inline-block; 
	margin: 1px;
	vertical-align: middle; 
}

/* menus and menu items */

.claro .dijitMenu {
   background-color: #FFFFFF;
   border: 1px solid #9a9a9a;
}

.claro .dijitMenuItem {
   outline: none;
   padding-top:4px;
}

.claro .dijitMenuSeparatorTop {
	height: auto;
	margin-top: 1px;
	border-bottom: 1px solid #DDD;
}

.claro .dijitMenuItemLabel {
	position: relative;
	padding: 5px;
}

.claro .dijitMenuActive .dijitMenuItemHover, .claro .dijitMenuActive .dijitMenuItemSelected, .claro .dijitMenuActive .dijitMenuItemActive {
   background-color: #e3e3e3;
   color: black;
   background-image: none;
}

/* tooltips */
.claro .dijitTooltip {
	max-width: 300px;
}

.claro .dijitTooltipContainer {
  /* the part with the text */
  background-color: #ffffff;
  background-image: none;
 }
