/* Page color */

.orionPage {
	background-color: #fdfdfd;
	width: 100%;
	height: 100%;
}

/* Top row/navigation banner */

.topRowBanner {
	margin: 0;
	border: 0;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#333));
	height: 28px;
}

a {
	text-decoration: none;
	color: #3087B3;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* Navigation text */

.primaryNav {
	font-size: 8pt; 
	font-weight:normal;
	color: #BFBFBF;
	vertical-align: baseline;
}

.primaryNav > div {
	padding-top: 6px;
}

.primaryNav > nav {
	padding-top: 6px;
}

.primaryNav > nav > a {
	color: #BFBFBF;
	margin-right: 6px;
	margin-left: 6px; 
	text-decoration: none;
}

.primaryNav > nav > a:hover, .primaryNav span.dropdownTrigger:hover {
	cursor: pointer;
	color: white;
}

/* Title area - the place for location/breadcrumbs */

.titleArea {
    margin: 0;
    padding-top:5px;
    border: 0;
    background: #EFEFEF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%,#EFEFEF));
    border-bottom: 1px solid #DEDEDE;
    min-height:20px;
}

/* Row selection */

.checkedRow {
	background-color: #ffeecc !important; /* was e3e3e3 */
}

.navbar-item-selected {
	background: #FEC;
	color: black;
}


/* Breadcrumbs */

.breadcrumb {
	font-size: 8pt;
	text-decoration: none;
	color: #3087B3;
	padding-top:2px;
}

a.breadcrumb:hover {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: #F58B0F;
	cursor: pointer;
}

/* a.breadcrumb:visited {
	color: #3087B3;
} */

.breadcrumbSeparator {
	font-size: 8pt;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.currentLocation {
	font-weight: bold;
	font-size: 8pt;
	color: #444;
	text-decoration: none;
	text-wrap: normal;
	line-height:10pt;
}

a.currentLocation:hover {
	font-weight: bold;
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
	border-bottom: 0;
}

.auxpane {
	border: 0;
	background: #fbfbfb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#fbfbfb));
	background: -moz-linear-gradient(top, #fbfbfb 0%, #fbfbfb 100%);
}

.mainpane {
	border: 0;
	background: white;
}

.mainToolbar {
 	background: #ffffff;
	border-bottom: 1px solid #ebebeb;
}

/* Searchbox in the top navigation area seems a difficult thing to 
   get right. I've worked with a range of colors. What I notice is that
   if the edges are curved, then it seems to need a lighter shade. That
   draws more attention to the search box. It is more passive and fitting
   if drawn with straight edges and a darker background */

.searchbox {
    background-image: url(../images/core_sprites.png);
    background-repeat: no-repeat; 
    background-position: 4px -297px; 
    width: 12px; height: 12px;
    background-color: #444;
	border: 1px solid #222;
	font-size: 11px;
	width: 15em;
	height: 16px;
	border-radius: 10px; /* 10px */
	color:#999;
	padding:0;
	padding-left:20px;
	padding-right:16px;
	margin-left:5px;
	font: 7pt Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,Myriad,Tahoma,clean,sans-serif !important;
}

.searchbox:focus{
	color: white;
	outline:none;
}

.commandButton {
	color: #222;
	border: 1px solid #dedede;
	background-color: #efefef;
	text-align: center;
	vertical-align: baseline;
    cursor: pointer;
    display: inline-block;
    padding:6px;
    padding-top: 4px; /* To align with Command Menu */
    border-radius:1px;
    line-height: 12px;
    font-size:8pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandButton:hover, .commandButton:focus {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

.commandImage {
	border: 1px solid transparent;
    border-radius: 2px;
	background-color: transparent;
	vertical-align: baseline;
	cursor: pointer;
	display: inline-block;
	padding: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandImage:hover, .commandImage:focus {
	background-color: #e6e6e6;
	border: 1px solid #808080;
}

/* should be used in conjunction with .commandButton when a tool has no icon. */
.commandMissingImageButton {
	font-weight:bold;
}

.commandLink {
	display: inline-block;
	vertical-align: baseline;
	padding: 2px;  /* other commands have 1px plus a border, so we need 2 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.commandSeparator {
	padding: 2px;
}

.commandActive {
	background-color: #e6e6e6 !important;
	border: 1px solid #808080 !important;
    border-radius: 2px !important;
}


/* placeholders for possible hover states on command items */
.commandActiveItem {
}

.commandInactiveItem {
}

/* widget theming */
/* splitter - typically the color of the title area */
.split {
	background: #efefef;
}

.splitTracking {
	background: #dedede;
}

.splitThumb {
	background: #cdcdcd;
}

/* dropdowns */
.dropdown {
} 

.dropdownArrowDown {
	background-position: 0 -422px;	
	width: 5px; height: 3px;
	background-image: url(../images/core_sprites.png); 
	display: inline-block; 
	margin: 4px 4px 0;
	vertical-align: top; 
}

.dropdownArrowRight {
	background-position: 0 -654px; 
	width: 6px; height: 11px;
	background-image: url(../images/core_sprites.png); 
	margin-right: 4px;
	vertical-align: middle; 
	float: right;
}

.dropdownTrigger {
	font-weight: normal;
}

.dropdownTrigger a {
	text-decoration: none;
}

.dropdownTriggerOpen {
	
}

.dropdownMenu {
	color: #222;
	background-color: #fbfbfb;
	display: none;
	z-index: 150;
	min-width: 180px;
	position: absolute;
	list-style-type: none;
	border-radius: 3px;
	border: 1px solid #DDD;
	padding: 0;
}

.dropdownSubMenu {
	position: relative
}

.dropdownSubMenu > ul {
	top: 0;
	left: 100%;
}

.dropdownMenu > li {
	min-width: 180px;
	padding: 0 2px;
	display: block;
}

.dropdownMenu > li > a, .dropdownMenu > li > span {
	width: 100%;
	margin: 0;
	padding: 4px 0;
}

.dropdownMenu > li:hover {
	text-decoration: none;
	background: #ffeecc;
}

.dropdownMenu > li > a:focus, .dropdownMenu > li > span:focus {
	outline: 1px dotted #aaa;
	background: #ffeecc;
}

.dropdownMenuOpen {
	display: block;
}

.dropdownSeparator {
	height: 1px;
	background-color: #ddd;
	color: #ddd;
	padding: 0 !important;
	margin: 0;
}

.dropdownMenuItem, .dropdownMenuItem a {
	display: inline-block;
	vertical-align: baseline;
	color: #222;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* dijit overrides related to theming */
/* dijit theme overrides per graphic designer.  Mostly affecting drop down and menu appearance and hovers */
/* buttons */


/* tooltips */
.claro .dijitTooltip {
	max-width: 300px;
}

.claro .dijitTooltipContainer {
  /* the part with the text */
  background-color: #ffffff;
  background-image: none;
 }
