.prospecto {
	color: #333;
}
.prospecto.textview {
	background-color: white;
}
.prospecto .ruler.annotations {
	background-color: white;
}
.prospecto .ruler.lines {
	background-color: white;
}
.prospecto .ruler.folding {
	background-color: white;
}
.prospecto .ruler.overview {
	background-color: white;
}
.prospecto .rulerLines {
	color: #767676; /* slightly darker than 'silver', to meet WCAG 2.0 AA minimum contrast on white. */
}
.prospecto .rulerLines.even {
	color: #767676; /* slightly darker than 'silver', to meet WCAG 2.0 AA minimum contrast on white. */
}
.prospecto .rulerLines.odd {
	color: #767676; /* slightly darker than 'silver', to meet WCAG 2.0 AA minimum contrast on white. */
}
.prospecto .annotationLine.currentLine {
	background-color: #EAF2FE;
}
.prospecto .entity-name-tag {
	color: #c04600;
}
.prospecto .entity-other-attribute-name {
	color: cadetBlue;
}
.prospecto .string-quoted {
	color: #314dce;
}
.prospecto .meta.annotation.currentLine {
	background-color: #EAF2FE;
}
.prospecto .keyword {
	color: #c04600;
}
.prospecto .string {
	color: #314dce;
}
.prospecto .comment {
	color: #357d21;
}
.prospecto .comment.block.documentation {
	color: #357d21;
}
.prospecto .keyword.other.documentation.markup {
	color: #357d21;
}