@import "../../css/layout.css";
@import "../../css/ide.css";
@import "../../css/sections.css";
@import "../../css/images.css";
@import "../../css/theme.css";
@import "../../css/progress.css";

html, body {
    min-width: 350px;
}

.dialogFrame {
	background-color: #fdfdfd;
}

#messageArea{
	display: table-cell;
    width: calc(100% - 16px);
}

#messageRow{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 0 0 rgba(0, 0, 0, 0.098);
    height: 25px;
    padding: 3px 5px 2px 9px;
	display: table;
    width: calc(100% - 15px);
}

.Spaces{
	width: 100%;
}

#orgsTree{
    margin-bottom: 0;
    max-height: 140px;
    overflow-y: auto;
}