@import "../../css/layout.css";
@import "../../css/ide.css";
@import "../../css/sections.css";
@import "../../css/images.css";
@import "../../css/theme.css";
@import "../../css/progress.css";

html, body {
    min-width: 350px;
    overflow: hidden;
}

.dialogFrame {
	background-color: #fdfdfd;
}

#messageArea{
	display: table-cell;
    width: calc(100% - 16px);
}

#messageRow{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 0 0 rgba(0, 0, 0, 0.098);
    height: 25px;
    padding: 3px 5px 2px 9px;
	display: table;
    width: calc(100% - 15px);
}

.Spaces{
	width: 100%;
}

select{
	height: 24px;
    width: 250px;
}

.formTable{
	font-family: Arial,sans-serif;
	font-size: 9pt;
	width: 100%;
}

.selectCell {
    padding-top: 4px;
    text-align: right;
}

.messageContainer {
	display: none;
	padding-top: 2px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.messageContainer.showing {
	display: block;	
}

.messageLabel {
	background-color: #DBEB8F;
	border-radius: 5px;
	color: black;
	display: inline-block;
	padding: 4px 5px;
}

.manifestInformation {
	padding: 20px 2px;
}

.manifest{
	text-align: left;
}

.buttonRow {
    bottom: 20px;
    position: absolute;
    right: 20px;
}

.buttonRow .orionButton {
	border: none;
	background-color: #DFE6EB;
	color: black;
	padding: 4px 12px;
	cursor: pointer;
}

.buttonRow .orionButton:hover {
	background-color: #e9eff2;
	box-shadow: none;
}

.buttonRow .orionButton.commandButton.disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #DFE6EB;
}

.buttonRow .orionButton.commandButton.deployButton.disabled {
	background-color: #00aed1;
}

.buttonRow .deployButton.orionButton {
	background-color: #00aed1;
	color: white;
}

.buttonRow .deployButton.orionButton:hover {
	background-color: #00bfe5;
}

