.fileNameCheckedRow {
	background-color: #FFFFCC !important;
	color: white;
}

.fileNameSelectedRow {
	background-color: #6d6d6d !important;
}

.fileNameNormalRow {
	color: #0000FF;
}

.compareCanvas {
	background: #EEEEEE;
	border: 0px;
}
