.fileNameCheckedRow {
	background-color: #FFFFCC !important;
	color: white;
}

.fileNameSelectedRow {
	background-color: #00FF00 !important;
}

.fileNameNormalRow {
	color: #0000FF;
}


.compareCanvas {
	background: #EEEEEE;
	border: 0px;
}
