<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->

		<!--<form dojoAttachPoint="importDialogForm" id="${id}_importDialogForm" class="form">-->
			<div style="display: table">
				<div style="display: table-row">
					<div
						style="display: table-cell; padding: 1px; vertical-align: bottom;">
						<label>File:</label>
					</div>
					<div
						style="display: table-cell; padding: 1px; vertical-align: bottom;">
						<div
							style="border: 1px solid #ccc; min-width: 35em; height: 19px; line-height: 19px; vertical-align: bottom;">
							<div dojoAttachPoint="importDialogFilesList" id="${id}_importDialogFilesList" style="margin-top: -3px;"></div>
						</div>
					</div>
					<div style="display: table-cell; padding: 1px; vertical-align: bottom;">
						<div dojoAttachPoint="importDialogSelectButton" id="${id}_importDialogSelectButton">
							Browse...
						</div>
					</div>
				</div>

				<div style="display: table-row">
					<div style="display: table-cell; padding: 1px;">
					</div>
					<div style="display: table-cell; padding: 1px;">
						<div dojoAttachPoint="importDialogProgressBar" id="${id}_importDialogProgressBar" indeterminate="false" 
							class="progBar" dojoType="dijit.ProgressBar"></div>
					</div>
					<div style="display: table-cell; padding: 1px;">
					</div>
				</div>

				<div style="display: table-row">
					<div style="display: table-cell; padding: 1px;">
					</div>
					<div style="display: table-cell; padding: 1px;">
					</div>
					<div style="display: table-cell; padding: 1px;">
						<button dojoAttachPoint="importButton" id="${id}_importButton" dojoType="dijit.form.Button"
							style="padding: 20 0 10 0; float: right; clear: both;">
							Finish
						</button>
					</div>
				</div>
			</div>
		<!--</form>-->
	</div>
</div>
