
<div>
	<div class="dijitTooltipContainer" role="presentation" style="width: 300px; padding-left: 0; padding-right: 0; padding-top: 0.5em; padding-bottom: 0.45em">
		<div class="dijitTooltipContents dijitTooltipFocusNode" role="dialog"
			dojoattachpoint="containerNode" style="padding: 0">
			<h2 dojoAttachPoint="emptyListInfo" class="LoginWindowLeft">No authentication required.</h2>
			<table dojoAttachPoint="authenticated" style="display: none; width: 100%;">
			 <tbody dojoAttachPoint="authenticatedList">
			</tbody>
			
			<table dojoAttachPoint="otherUnauthenticated" style="display: none; width: 100%;">
			 <tbody dojoAttachPoint="otherUnauthenticatedList">
			</tbody>
		</div>
	</div>
	<div class="dijitTooltipConnector" role="presentation"></div>

</div>