
<div>
	<div class="dijitTooltipContainer" role="presentation" style="padding: 0.5em; min-width: 300px;">
		<div class="dijitTooltipContents dijitTooltipFocusNode" role="dialog"
			dojoattachpoint="containerNode" style="padding: 0">
			<table style="width: 100%;">
				<tr>
					<td><h2>Recent operations</h2></td>
					<td style="text-align: right;"><a dojoAttachPoint="allOperationsLink">All Operations</a></td>
				</tr>
			</table>
			<span dojoAttachPoint="operationsExist">
				<span class="secondaryColumn" dojoAttachPoint="myOperationsListEmpty">No operations running on this page.</span>
				<table dojoAttachPoint="myOperationsList" style="display: none;">
				</table>
				<span class="secondaryColumn" dojoAttachPoint="otherOperations"><br>Operations from other pages:</span>
				<table dojoAttachPoint="operationsList" style="display: none;">
				</table>
			</span>
			<span class="secondaryColumn" dojoAttachPoint="operationsDontExist">No operations running.</span>
		</div>
	</div>
	<div class="dijitTooltipConnector" role="presentation"></div>

</div>