.closeLoginWindow {
	border: none;
}
div.closeLoginWindow {
	float: right;
}
p.closeLoginWindow {
	text-align: right;
	margin: 0px;
}

img.closeLoginWindow {
	opacity: 0.5;
}

img.closeLoginWindow:hover {
	opacity: 1;
}

.pageTitle {
    color: #666666;
    font-size: 12pt;
    vertical-align: top;
}

html, body {
    margin: 0;
	padding: 0;
	font: 9pt Verdana,Arial,Helvetica,Myriad,Tahoma,clean,sans-serif; 
    background: none repeat scroll 0 0 #FFFFFF;
}

div.loginWindowHeader{
	float: left;
}
h2.loginWindowHeader{
	margin-top: 0px;
	color: #888;
	font-size: 1.2em;
}

#errorWin {
	font-style: italic;
}

.loginError {
	background: url("../images/error_tsk.gif") no-repeat left
		center;
	color: red;
	list-style: none;
	padding-left: 20px;
	line-height: 12px;
	font-size: 0.8em;
	display: block;
	margin: 3px;
	font-style: italic;
}

.loginInfo {
	background: url("../images/info_tsk.gif") no-repeat left
		center;
	color: navy;
	list-style: none;
	padding-left: 20px;
	line-height: 12px;
	font-size: 0.8em;
	display: block;
	margin: 3px;
	font-style: italic;
}

#loginWindowMask {
	position: absolute;
	filter: alpha(opacity =   50);
	opacity: 0.5;
	border: 0px;
	margin: 0px;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

input {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
}


div.loginWindow {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	border: 1px solid #D3D3D3;
	border-radius: 4px;
	padding: 20px;
	z-index: 1000;
	margin-top: 30px;
	background-color: #FFF;
}

h2.loginWindowStores {
	color: #888;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.9em;
	text-decoration: none;
}

a.loginWindowStores:link, a.loginWindowStores:VISITED {
	color: #888;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.9em;
	text-decoration: none;
}

a.loginWindowStores:hover, a.loginWindowStores:active {
	color: #444;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.9em;
	text-decoration: none;
}

h3.loginWindow {
	margin-left: 20px;
    color: #666666;
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: middle;
}

h3.loginWindowCreate {
	color: #888;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 8px;
	font-size: 0.9em;
	max-width: 30em;
}


button.loginWindow {
	background:#666;
	border-radius:4px;
	height:25px;
	width:80px;
	border: solid 1px #CCC;
	color:white;
	font-size:12px;
	font-weight:bold;
}

p.loginWindow {
	font-size: 1em;
	line-height: 1.2em;
}

a.loginWindowCreate {
	font-style: italic;
	text-decoration: none;
	font-weight: normal;
	color: #444444;
}

a.loginWindow {
	font-style: italic;
	text-decoration: none;
	font-weight: normal;
	color: #316ac5;
}

a.loginWindow:hover, a.loginWindow:ACTIVE {
	font-style: italic;
	text-decoration: underline;
	font-weight: normal;
	color: #316ac5;
}

td.loginWindowButtonTd {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

img.loginWindow{
	height: 30px;
	border: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

table.loginWindow {
	margin-left: 20px;
}

td.loginWindow {
	min-width: 10em;
}

.hrloginWindow {
	border-top: 1px solid #DDD;
	background-color: #FFF;
	height: 1px;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 10px 0 10px 0;
}

.topRowBanner {
	margin: 0;
	border: 0;
	background-color: #2e2e2e;
	height: 22px;
}

.titleArea {
	margin: 0;
	border: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fffff), to(#f7f7f7)); 
	background: -moz-linear-gradient(top,  #fffff,  #f7f7f7); 
	border-bottom: 1px solid #d5d5d5;
	background-color: #FDFDFD;
}

.layoutBlock {
	clear: both;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: baseline;
}

.toolbar {
	vertical-align: middle;
	min-height: 30px;
	width: 100%;
	color: #808080;
	background-color: #FDFDFD;
}
