.incomingCommitsdRow {
	font-weight: bold;
}

.incomingCommitsdRow div {
	background: url(images/git-incoming.gif);
	background-repeat: no-repeat;
	background-position: left top; 
}

.outgoingCommitsdRow div {
	background: url(images/git-outgoing.gif);
	background-repeat: no-repeat;
	background-position: left top; 
}