@import "../../../compare/compare.css";

.compareContainer {
	height:400px;
	width:99%;
	padding:0;
	border:1px solid grey;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ededed;
}