@import "../../../compare/compare.css";

.compareContainer {
	position: absolute;
	top: 130px;  /* $ToolbarHeight + 1 */
 	bottom: 0;
 	width: 99%;
 	overflow-y: auto;
	margin-left:5px;
	border:1px solid #bebebe;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ededed;
}

.lineHighlight{
	outline: 2px dotted black;
}
.lineHighlightGutter{
	background-image: url('problem.gif');;
}
.lineHighlightGutter1{
	background-color: red;
}
.lineHighlightGutter2{
	border-width: 3px;
}
textarea {
	margin-top: 5px;
	margin-left: 10px;
	width: 730px;
	height: 30px;
}
.selectDiv {
	margin-top: 5px;
	margin-left: 10px;
}
.injectedDiv {
	width:  750px;
	height: 70px;
	outline: 2px dotted black;
	background-color: yellow;
}
