@import "../css/layout.css";
@import "../css/ide.css";
@import "../css/images.css";
@import "../css/theme.css";

html,body {
	height: 100%;
}

.dockerShell-input {
  position: absolute; height: 27px; bottom: 0; left: 0; right: 0;
  width: 100%;
}

.dockerShell-output {
  position: absolute; top: 0; bottom: 30px; left: 0; right: 0;
  font-size: 10pt;
}


.dockerCmd {
  width: 100%;
  font-size: 10pt;
  margin: 0;
}