@import "../org.dojotoolkit/dojo/resources/dojo.css";
@import "../org.dojotoolkit/dijit/themes/nihilo/nihilo.css";
@import "../org.dojotoolkit/dijit/themes/nihilo/Tree.css";
@import "../org.dojotoolkit/dijit/themes/nihilo/layout/BorderContainer.css";
@import "../org.dojotoolkit/dijit/themes/nihilo/form/Common.css";
@import "../org.dojotoolkit/dijit/themes/nihilo/form/Button.css";
@import "../css/ide.css";
@import "../css/breadcrumbs.css";
@import "../css/commands.css";
@import "../org.dojotoolkit/dojox/grid/resources/Grid.css";
@import "../org.dojotoolkit/dojox/grid/resources/nihiloGrid.css";

html,body {
	height: 100%;
}

h1 {
	position: relative;
	margin-top: 18px;
}

.statusPane {
	font-weight: bold;
}

.categories{
	-webkit-border-end: 1px solid #c6c9ce;
	-webkit-border-end-width: 1px;
	-webkit-border-end-style: solid;
	-webkit-border-end-color: rgb(198, 201, 206);
	-moz-border-end: 1px solid #c6c9ce;
	-moz-border-end-width: 1px;
	-moz-border-end-style: solid;
	-moz-border-end-color: rgb(198, 201, 206);
	background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3), -webkit-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
	background-image: -webkit-linear-gradient(top, rgba(234, 238, 243, 0.199219), rgb(234, 238, 243)), -webkit-linear-gradient(left, rgb(234, 238, 243), rgb(234, 238, 243) 97%, rgb(211, 215, 219));
	background: -moz-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3), -moz-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
	background-image: -moz-linear-gradient(top, rgba(234, 238, 243, 0.199219), rgb(234, 238, 243)), -moz-linear-gradient(left, rgb(234, 238, 243), rgb(234, 238, 243) 97%, rgb(211, 215, 219));
	
	background-repeat-x: initial, initial;
	background-repeat-y: initial, initial;
	background-attachment: initial, initial;
	background-position-x: initial, initial;
	background-position-y: initial, initial;
	background-origin: initial, initial;
	background-clip: initial, initial;
	background-color: initial;
}



#content-title {
	-webkit-padding-end: 14px;
	-webkit-user-select: none;
	-moz-padding-end: 14px;
	-moz-user-select: none;
	color: #53637D;
	cursor: pointer;
	font-size: 150%;
	font-weight: normal;
	margin: 0;
	padding-bottom: 14px;
	padding-top: 13px;
	text-align: end;
	text-shadow: white 0 1px 2px;
}

h1 {
	display: block;
	font-size: 1em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-moz-margin-before: 0.67em;
	-moz-margin-after: 0.67em;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	font-weight: bold;
}

#categories > ul {
	-webkit-user-select: none;
	-moz-user-select: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}


#navbar {
	margin: 0;
	padding: 0;
}

.navbar-item {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	color: #426DC9;
	cursor: pointer;
	display: block;
	font-size: 90%;
	outline: none;
	padding: 7px 0;
	text-align: end;
	text-shadow: white 0 1px 1px;
	-webkit-padding-end: 24px;
	-moz-padding-end: 24px;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	-moz-margin-before: 1em;
	-moz-margin-after: 1em;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-start: 40px;
}

.navbar-item-selected {
	-webkit-box-shadow: 0px 1px 0px #f7f7f7;
	-moz-box-shadow: 0px 1px 0px #f7f7f7;
	background: -webkit-linear-gradient(left, #BBCEE9, #BBCEE9 97%, #AABEDC);
	background: -moz-linear-gradient(left, #BBCEE9, #BBCEE9 97%, #AABEDC);
	border-bottom: 1px solid #8FAAD9;
	border-top: 1px solid #8FAAD9;
	color: black;
	text-shadow: #BBCEE9 0 1px 1px;
}

.settings {
  	padding-left: 20px;
 	padding-right: 20px;
}

.settings h1 {
	-webkit-padding-end: 24px;
	-webkit-user-select: none;
	-moz-padding-end: 24px;
	-moz-user-select: none;
	border-bottom: 1px solid #EEE;
	color: #53637D;
	font-size: 150%;
	font-weight: normal;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 13px;
	text-shadow: white 0 1px 2px;
}

.displaytable {
	#display: table;
	width: 100%;
}

.displaytable > section > h3 + div, .displaytable > section > h3 + table {
	padding-top: 17px;
	padding-bottom: 20px;
}

section > div:only-of-type {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

.displaytable > section > * {
	display: table-cell;
	vertical-align: baseline;
	border-bottom: 1px solid #EEE;
}

.settings section {
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	border-bottom: 1px solid #EEE;
	display: -webkit-box;
	display: -moz-box;
	margin-top: 17px;
	padding-bottom: 20px;
	width:100%;
}


.settings section > h3 {
	margin: 0;
	vertical-align: middle;
	width: 130px;
	-webkit-padding-end: 10px;
	-moz-padding-end: 10px;
}

.settings section > div {
	margin: 0;
	vertical-align: middle;
	width: 130px;
	-webkit-padding-end: 10px;
	-moz-padding-end: 10px;
}

.settings section > div > div{
	margin: 10px 0;
}

.settings section > div > div > label > span{
	min-width: 145px;
	display: inline-block;
	min-width: 100px;
}

.displaytable > section {
	display: table-row;
}

.web-content-select-label {
	min-width: 145px;
}

.web-content-select-label > span:only-of-type {
	display: inline-block;
	min-width: 100px;
}

.collection {
	-webkit-margin-end: 3em;
	-moz-margin-end: 3em;
	width: 12em;
}

.buttonselect {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	-moz-appearance: button;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-padding-start: 2px;
	-moz-user-select: none;
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

select {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	-moz-appearance: button;
	-moz-border-radius: 2px;
	-moz-padding-end: 20px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-padding-start: 2px;
	-moz-user-select: none;
	background-image: url("../images/select.png"), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	background-image: url("../images/select.png"), -moz-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

option {
	font-weight: normal;
	font: inherit;
}

#dev-toggle {
	display: block;
	float: right;
	margin-top: -28px;
	-webkit-margin-end: 8px;
	-moz-margin-end: 8px;
}

input, textarea, keygen, select, button, isindex {
	margin: 0em;
	font: -webkit-small-control;
	font: -moz-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
	text-align: -moz-auto;
}

input[type="checkbox"], input[type="radio"] {
	margin-left: 0;
	margin-right: 0;
	position: relative;
	top: 1px;
}

input[type="checkbox"] {
	margin: 3px 3px 3px 4px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	box-sizing: border-box;
}

.dev-open {
	border-bottom: 1px solid #CDCDCD;
	height: 32px;
	padding-bottom: 7px;
	padding-top: 4px;
	-webkit-padding-start: 4px;
	-webkit-padding-end: 3px;
	-webkit-transition: padding 300ms, height 300ms, opacity 700ms;
	-moz-padding-start: 4px;
	-moz-padding-end: 3px;
	-moz-transition: padding 300ms, height 300ms, opacity 700ms;
}

.dev-closed {
	height: 0;
	opacity: 0;
	-webkit-padding-start: 4px;
	-webkit-padding-end: 3px;
	-webkit-transition: padding 300ms, height 700ms, opacity 200ms;
	-moz-padding-start: 4px;
	-moz-padding-end: 3px;
	-moz-transition: padding 300ms, height 700ms, opacity 200ms;
}

.dev-button-visible {
	display: inherit;
	opacity: 1;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
}

table {
	border-collapse: separate;
	border-spacing: 2px;
}

#extension-settings .displaytable > section {
	display: block;
}

div.page section:last-child {
	border-bottom: none;
}

#extension-settings .displaytable > section > * {
	display: block;
}

#extension-settings-list {
	min-height: 0;
	overflow-y: hidden;
}

.extension-list-item {
	padding-bottom: 7px;
	padding-top: 7px;
	width: 100%;
	-webkit-user-select: auto;
	-moz-user-select: auto;
}

.vbox {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.hbox {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}

.extension-list-item-collaped {
	height: auto;
	margin-bottom: 16px;
	-webkit-transition: padding 300ms, overflow 300ms, opacity 700ms;
	-moz-transition: padding 300ms, overflow 300ms, opacity 700ms;
}

list, grid {
	display: block;
	outline: none;
	overflow: auto;
	position: relative;
}

.extension-zippy-container {
	cursor: pointer;
	width: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.extension-icon {
	height: 48px;
	vertical-align: text-top;
	width: 48px;
	-webkit-padding-start: 15px;
	-webkit-padding-end: 15px;
	-webkit-user-select: none;
	-moz-padding-start: 15px;
	-moz-padding-end: 15px;
	-moz-user-select: none;
}

.details-view {
	-webkit-padding-end: 10px;
	-moz-padding-end: 10px;
}

.stretch {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

list > *, grid > * {
	cursor: default;
	line-height: 20px;
	white-space: pre;
}

.extension-title {
	font-size: 16px;
	font-weight: 500;
	-webkit-padding-end: 20px;
	-moz-padding-end: 20px;
}

/* Get rid of display: table, which causes width issues. */
#extension-settings .displaytable {
display: block;
}
/* Get rid of display: table row, which causes width issues. */
#extension-settings .displaytable > section {
  display: block;
}
/* Get rid of display: table cell, which causes width issues. */
#extension-settings .displaytable > section > * {
  display: block;
}

.extension-settings-content {
  border-bottom : 0px solid #eee;
  margin-top: 3px;
}

#extension-settings-list {
  min-height: 0;
  overflow-y: hidden;
}

/* Get rid of the light-blue background on list item hover. */
#extension-settings-list:not([disabled]) > :hover {
  background-color: white;
  border-color: #CDCDCD;
}

.extension-list-item-collaped {
  height: auto;
  margin-bottom: 16px;
  -webkit-transition: padding 300ms, overflow 300ms, opacity 700ms;
  -moz-transition: padding 300ms, overflow 300ms, opacity 700ms;
}

.extension-list-item-expanded {
  height: auto;
  margin-bottom: 16px;
  overflow: visible;
  -webkit-transition: padding 300ms, overflow 300ms, opacity 700ms;
  -moz-transition: padding 300ms, overflow 300ms, opacity 700ms;
}

.extension-settings {
  overflow-x: hidden;
}

.extension-title {
  font-size: 16px;
  font-weight: 500;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
}

.extension-version {
  font-size: 13px;
  font-weight: 400;
  -webkit-padding-end: 7px;
  -moz-padding-end: 7px;
}
  
.extension-description {
  font-size: 13px;
  white-space: normal;
  -webkit-padding-end: 5px;
  -moz-padding-end: 5px;
}

.extension-checkbox-span {
  -webkit-margin-start: 7px;
  -moz-margin-start: 7px;
}

.extension-checkbox-label {
  -webkit-margin-end: 10px;
  -moz-margin-end: 10px;
}

.extension-delete {
  -webkit-margin-start: 5px;
  -moz-margin-start: 5px;
}

.extension-details-hidden {
  opacity: 0;
  max-height: 0;
  -webkit-transition: max-height 400ms, opacity 200ms;
  -moz-transition: max-height 400ms, opacity 200ms;
}

.extension-details-visible {
  opacity: 1;
  max-height: 100px;
  -webkit-transition: max-height 200ms, opacity 300ms;
  -moz-transition: max-height 200ms, opacity 300ms;
}

.extension-links-view {
  -webkit-padding-start: 15px;
  -moz-padding-start: 15px;
}

.extension-links-trailing {
  -webkit-padding-end: 7px;
  -moz-padding-end: 7px;
}

.extension-zippy-container {
  cursor: pointer;
  width: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.informative-text {
  color: gray;
}

.extension-zippy-default {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAACsSURBVChTY3h778z/k9c+/EcHDFunB/5nYJb5f+bJdxQ5JnFpDQaGv08Y4sMDGK6++cMAA0z///8Ds68e3ckQGRLKcPbBR4jcqY1l/4EUHOs7+v+///zTfyZGuGYI4+L+jQwpM3YzMDEwoErxKFowhNrrgIyqgBvDLGP2f/6ea2DXMZzaVA6WYJc1/j977324kxkOLkkCSrD/n7TtBoo/GC7umva/Zf4lDJ8DAMX+kKcegZRQAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  left: 12px;
  top: 25px;
  width: 6px;
  height: 16px;
  opacity: .25;
}

.extension-zippy-collapsed {
  -webkit-transition: -webkit-transform .1s;
  -webkit-transform: rotate(0deg);
  -moz-transition: -moz-transform .1s;
  -moz-transform: rotate(0deg);
}

.extension-zippy-collapsed:hover {
  opacity: .5;
  -webkit-transform: rotate(5deg);
  -webkit-transition: -webkit-transform .1s, opacity .1s;
  -moz-transform: rotate(5deg);
  -moz-transition: -moz-transform .1s, opacity .1s;
}

.extension-zippy-expanded {
  -webkit-transition: -webkit-transform .1s;
  -webkit-transform: rotate(90deg);
  -moz-transition: -moz-transform .1s;
  -moz-transform: rotate(90deg);
}

.extension-zippy-expanded:hover {
  -webkit-transition: -webkit-transform .1s;
  -webkit-transform: rotate(85deg);
  -moz-transition: -moz-transform .1s;
  -moz-transform: rotate(85deg);
}

.extension-enabling {
  position: relative;
  top: 3px;
}

.extension-enabling-label {
  color: black;
  -webkit-padding-start: 3px;
  -webkit-padding-end: 9px;
  -moz-padding-start: 3px;
  -moz-padding-end: 9px;
}

.extension-enabling-label-bold {
  font-weight: bold;
}

.extension-inspect-table {
  padding: 0;
  border-spacing: 0;
}

.extension-inspect-left-column {
  vertical-align: text-top;
}
