@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/nihilo.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/Tree.css";

@import
	"../org.dojotoolkit/dijit/themes/nihilo/layout/BorderContainer.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/form/Common.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/form/Button.css";

@import "../css/ide.css";

@import "../css/breadcrumbs.css";

@import "../css/commands.css";


html,body {
	height: 100%;
}

h1 {
	position: relative;
	margin-top: 18px;
}

select {
	font-size: 1em;
	border: 1px #999 solid;
	color: #666;
}

button {
	background: white;
	color: #666;
	border: solid 1px #999;
	border-radius: 2px;
	font-size: 0.9em;
}

#pluginUrlEntry {
	background: white;
	color: #666;
	border: solid 1px #999;
	border-radius: 2px;
	font-size: 0.9em;
	padding: 1px;
}

.statusPane {
	font-weight: bold;
}

.categories {
	background: #EDEDED;
}

#content-title {
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
	margin: 0;
	padding-bottom: 14px;
	padding-top: 13px;
	margin-right: 16px;
	text-align: right;
}

#categories>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar {
	margin: 0;
	padding: 0;
}

.navbar-item {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	color: #666;
	display: block;
	font-size: 90%;
	outline: none;
	padding: 7px 0;
	text-align: right;
	padding-right: 20px;
	cursor:pointer;
}

ul,menu,dir {
	display: block;
	list-style-type: disc;
}

.navbar-item-selected {
	background: #e3e3e3;
	color: black;
}

.settings {
	min-width:800px;
	max-width:1000px;
	padding-left: 20px;
	padding-right: 40px;
}

.pluginwrapper {
	padding-bottom: 20px;
	padding-top: 24px;
	border-bottom: 1px dotted #BFBFBF;
	overflow:hidden;
}

.pluginTitle {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
	margin: 0;
}

.oldLink {
	float: left;
	color: #666;
	margin: 2px;
	padding-left: 5px;
}

.sectionProgress {
	float: left; font-size : 1.2em; font-weight : bold; color : #666;
	margin-left: 2px;
	text-decoration: blink;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}

.pluginSubTitle {
	font-size: 1.1em;
	font-weight: normal;
	color: #666;
	padding: 5px;
}

.additions {
	float: right;
	background: #666;
	font-size: .9em;
	color: white;
	padding: 4px;
	border-radius: 2px;
}

.additions-light {
	float: right;
	font-size: .9em;
	color: white;
	padding: 4px;
	border-radius: 2px;
}

.settings h1 {
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
	margin: 0;
	padding-bottom: 14px;
	padding-top: 13px;
	border-bottom: 1px dotted #BFBFBF;
}

.settings section {
	color: #666;
	border-bottom: 1px dotted #BFBFBF;
	display: -webkit-box;
	display: -moz-box;
	margin-top: 17px;
	padding-bottom: 20px;
	width: 100%;
	margin-right: 16px;
}

.settings section>h3 {
	margin: 0;
	vertical-align: middle;
	width: 130px;
	padding-right: 10px;
}

.settings section>div {
	margin: 0;
	vertical-align: middle;
}

.settings section>div>div {
	margin: 10px 0;
}

.settings section>div>div>label>span {
	min-width: 145px;
	display: inline-block;
	min-width: 100px;
}

.displaytable>section {
	display: table-row;
}

.web-content-select-label {
	min-width: 145px;
}

.web-content-select-label>span:only-of-type {
	display: inline-block;
	min-width: 100px;
}

.addPluginClosed {
	float: right;
	width: 10px;
	height: 10px;
	background: #FEFF66;
	background: #666;
	padding: 4px;
	color: white;
	font-size: 8pt;
	border-radius: 4px;
	top: 10px;
}

.interactionOpen {
	border-bottom: 1px dotted #BFBFBF;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-right: 16px;
	-webkit-padding-start: 5px;
	-webkit-padding-end: 4px;
	-webkit-transition: padding 500ms, height 400ms, opacity 800ms;
	-moz-padding-start: 4px;
	-moz-padding-end: 3px;
	-moz-transition: padding 500ms, height 400ms, opacity 800ms;
	-ms-padding-start: 4px;
	-ms-padding-end: 3px;
	-ms-transition: padding 500ms, height 400ms, opacity 800ms;
}

.interactionClosed {
	height: 0;
	opacity: 0;
	margin-right: 16px;
	-webkit-padding-start: 4px;
	-webkit-padding-end: 3px;
	-webkit-transition: padding 300ms, height 700ms, opacity 200ms;
	-moz-padding-start: 4px;
	-moz-padding-end: 3px;
	-moz-transition: padding 300ms, height 700ms, opacity 200ms;
	-ms-padding-start: 4px;
	-ms-padding-end: 3px;
	-ms-transition: padding 500ms, height 400ms, opacity 800ms;
}

#plugin-settings .displaytable>section {
	display: block;
	width: 100%;
}

div.page section:last-child {
	border-bottom: none;
}

#plugin-settings .displaytable>section>* {
	display: block;
}

#plugin-settings-list {
	min-height: 0;
	overflow-y: hidden;
	width: 100%;
}

.plugin-list-item {
	padding-top: 20px;
	width: 100%;
}

list,grid {
	display: block;
	outline: none;
	overflow: auto;
	position: relative;
}

.plugin-icon {
	float: left;
	position: relative;
	height: 48px;
	vertical-align: text-top;
	width: 48px;
	padding-right: 15px;
	-webkit-user-select: none;
	user-select: none;
}

.stretch {
	float: left;
	position: relative;
	white-space:normal;
	max-width:600px;
}

list>*,grid>* {
	display: block;
	outline: none;
	overflow: auto;
	position: relative;
	line-height: 20px;
	white-space: pre;
}

.plugin-title {
	font-size: 16px;
	font-weight: 500;
	padding-right: 20px;
}

#plugin-settings .displaytable {
	display: block;
}

.plugin-settings-content {
	border-bottom: 0px solid #eee;
	margin-top: 3px;
	width: 100%;
}

.plugin-settings {
	overflow-x: hidden;
}

.plugin-version {
	font-size: 13px;
	font-weight: 400;
	padding-right: 10px;
}

.container{
	float:left;
	position:relative;
}

.plugin-description {
	font-size: 13px;
	white-space: normal;
	padding-right: 10px;
	min-width:100px;
	max-width:200px;
}

.plugin-commands {
	float: right;
	position: relative;
}

.plugin-action-area {
	float: right;
	position: relative;
	background: white;
	color: #666;
	font-size: 0.9em;
}

.plugin-links-view {
	padding-right: 15px;
}

.plugin-links {
	padding-right: 7px;
}

.plugin-service-item {
	width: 100%;
	margin-left: 63px;
}



.serviceContainerClosed{
	position: relative;
	background: white;
	padding-left:16px;
	background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAYAAACdKY9CAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wCCQ46FewKfYYAAAF4SURBVCjPbZEvyFNhGMV/590ciANhjNs2nC66osHiJ8b9cdVgN4uKyWbRaDGZBIvwYRB2723WBUEEy5igYeZxYQzd7t2x7IUFn/bAOec55zxK05TxeEyWZZds3wEeAXeBP8An4I3tr5PJZJemKQLIsiyxfQ6c8f95V1XVw+l0utdsNrsInEsaA5akE6Btx/3Vfr9/HiTdOIIBKMsS29gGOCU/bTQanWD7QVQry1Lz+ZzFYsFutyOEgCQkGbhg+1Zd0vRIkG2KomC5XLJarej3+3S7XUII8dJZHehIihaQxHq9ZrvdUhQFzWaTdrvNEXO1DvwCrkSjh8OBJEnodrv0ej1arVZMD/CjLumj7SexoSRJGAwGdDodarVaBFqSbH9WlmU3gS9RHSCEgG1iw8fW/gLXAvDd9gfbhBAIIThmOf4hZnux2Wx+CyDP88tVVb2XdC9mOVUHXo9Go8eSCFmWMRwOC+A+cBt4C/y0/c32S+C6pGeSyPOcfyAyt4A7QPcNAAAAAElFTkSuQmCC" );
	background-repeat:no-repeat;
	background-position:left;
	color: #666;
	font-size: 0.9em;
	float:left;
	-webkit-user-select: none;
	cursor:pointer;
}

.serviceContainerOpen{
	position: relative;
	background: white;
	padding-left:16px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wCCQ46NddkXU4AAAFuSURBVCjPXZG/q9NwFMU/5yYQOhVKoF1SDK9OOjl1URxcQl+G5/LgLeJf4K7wRjdBxMXRxcFR6TfZ3e3iUGe3DKXYQSEk10GjwbPdy+X8uEdVVVEUBVVVJcBt4MrdHwI3gG/u/lHSO3f/vNlsfoQQEEBd19O+799IunR3JAHg7gxw92Bmj4uiaLTdbifAe0nnkvDfl+IfxvMnSUUs6Q5wLom+7+m6TmMFSYrjeFjcdfd7MfBozLjb7WiaBjPD3ZlOp6zXa8VxPNh9YsCDgdTMmM/nHI9H9vs9TdOQpilRFI3cct+A7+PgWZaxXC5JkoQsy8jznP/w04Aw2JNEFEXkec5isWC1WjGZTIZvDrk+KIRwC/jyJzQAfd9zOByYzWZ/s42wNklfgZejXtzMSNMUMxsrALx1952G46qqnrr7tZklQ8EjhRZ40XXddVmWrdV1jSROp9Nz4MzdL4BX7h6A18ClpJtt2z4ry7INIfAL982ks01Z8EgAAAAASUVORK5CYII=" );
	background-repeat:no-repeat;
	background-position:left;
	color: #666;
	font-size: 0.9em;
	float:left;
	-webkit-user-select: none;
	cursor:pointer;
}

.service-container:hover{
	color: #039;
}

.serviceTable{
	border-collapse: separate;
	border-spacing: 2px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 9px;
	text-align: left;
	border-collapse: collapse;
	width: 200px;
	-webkit-user-select: none;
}
	
  .serviceTable th{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 10px;
	border-bottom: 2px solid #6678B1;
	border-right: 30px solid white;
	border-left: 30px solid white;
	color: #039;
	-webkit-user-select: none;
}

.serviceTable td {
	padding	: 3px 2px 0px 2px;
	border-right: 30px solid white;
	border-left: 30px solid white;
	width:100px;
	color: #669;
	-webkit-user-select: none;
}

.serviceTable td, th {
	display: table-cell;
	vertical-align: inherit;
	-webkit-user-select: none;
}

.tablecontainer{
	padding:1px;
	border: 1px solid #039;
	display: inline-block;
	border-radius:5px;
	vertical-align:top;	
	-webkit-user-select: none;
}

.serviceData{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.serviceRailsVisible{
	white-space: nowrap;
	border-top: solid 1px #EEE;
	border-bottom: solid 1px #EEE;
	margin-top:30px;
	overflow:hidden;
	-webkit-user-select: none;
	transition:height 1s;
	width:700px;
	-moz-transition:height 1s; /* Firefox 4 */
	-webkit-transition:height 1s; /* Safari and Chrome */
	-o-transition:height 1s;
	-ms-transition:height 1s; /* Safari and Chrome */
}
	
.serviceRailsHidden{
	white-space: nowrap;
	border-top: solid 1px #EEE;
	border-bottom: solid 1px #EEE;
	margin-top:30px;
	margin-right:20px;
	overflow:hidden;
	visibility:hidden;
	height:0px;
	transition:height 1s;
	width:700px;
	-moz-transition:height 1s; /* Firefox 4 */
	-webkit-transition:height 1s; /* Safari and Chrome */
	-o-transition:height 1s;
	-ms-transition:height 1s; /* Safari and Chrome */
}

.serviceList{
	margin-right:20px;
	padding-right:20px;

	float:left;
	// position:relative;
	overflow:hidden;
}

.leftButtonArea{
	width: 40px;
	float:left;
	position:relative;
	visibility:hidden;
	display: inline;
	text-align:right;
}

.rightButtonArea{
	width: 40px;
	float:left;
	position:relative;
	visibility:hidden;
	display: inline;
  	margin: 0 1em 0 1em;
  	text-align:right;
}

.carouselControl{
	background:#666;
	opacity:0.4;
	padding-left:6px;
	padding-right:6px;
	border-radius:23px;
	display: table-cell;
	vertical-align: middle;
	position:absolute;
	color:white;
	font-weight:bolder;
	border: #333 solid 1px;
	cursor:pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	background: #222;
	text-align:right;
}
	
.carouselControl:hover{
	opacity:0.8;
}
	
.listContainer{
	float:left;
	overflow:hidden;
	padding-left:0px;
	margin-left:0px;
	width:600px;
}

.listEntry{
	padding:1px;
	display: inline-block;
	vertical-align:top;	
	text-align:center;
}
	
.listTitle{
	font-weight: bold;
	font-size: 10px;
	color: #039;
	margin-top:5px;
}
	
.objectLink{
	cursor:pointer;
}

.objectLink:hover{
	color: orange;
}	
	
