@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/claro/claro.css";

@import "../org.dojotoolkit/dijit/themes/claro/Tree.css";

@import "../org.dojotoolkit/dijit/themes/claro/layout/BorderContainer.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Common.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Button.css";

@import "../settings/settings.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "./siteEditor.css";

@import "../org.dojotoolkit/dojox/grid/resources/Grid.css";

@import "../org.dojotoolkit/dojox/grid/resources/claroGrid.css";

html,body {
	height: 100%;
}

.statusPane {
	font-weight: bold;
}

