<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="toc.xml" primary="true" />
       <index path="index"/>
   </extension>

<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="topics_Guide.xml" />
       <toc file="topics_Reference.xml" />
       <toc file="WikiDoc/Orion-Project-mission-statement-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Architecture-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Simple-plugin-example-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Core-client-services-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Configuration-services-toc.xml"/>
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-User-interface-services-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Plugging-into-Orion-pages-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Plugging-into-the-editor-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Plugging-into-the-navigator-toc.xml" />
       <toc file="WikiDoc/Orion-Documentation-Developer-Guide-Plugging-into-the-shell-toc.xml"/>
       <toc file="WikiDoc/Orion-Server-admin-guide-toc.xml" />
	   <toc file="WikiDoc/Orion-Node-Getting-started-toc.xml" />
       <toc file="WikiDoc/Orion-Server-API-toc.xml" />
   </extension>
   
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/jsdoc"
            base-name="/jsdoc">
      </resource>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
</plugin>
