@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/claro/claro.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Common.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Button.css";

@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css"; /* for outliner */

@import "../../orion/textview/textview.css";
@import "../../orion/textview/rulers.css";
@import "../../orion/textview/annotations.css";
@import "../../orion/textview/tooltip.css";
@import "../css/editor-theme.css";

.outlineExplorer {
	overflow-y: none;
}
