@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/claro/claro.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Common.css";

@import "../org.dojotoolkit/dijit/themes/claro/form/Button.css";

@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css"; /* for outliner */

@import "../orion/textview/textview.css";
@import "../orion/textview/rulers.css";
@import "../orion/textview/annotations.css";
@import "../orion/textview/tooltip.css";
@import "../css/editor-theme.css";

.outlineExplorer {
	overflow-y: none;
}

.findOptionsDiv {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.findSlideoutButton {
	color: #222;
	border: 1px solid transparent;
	text-align: center;
	vertical-align: top;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    margin-left: 8px;
    border-radius:1px;
    font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.findSlideoutMenu {
	color: #222;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 2px;
    font-weight: normal;
    margin: 0;
    margin-left: 8px;
	text-align: center;
}

.findSlideoutButton:hover {
	background-color: #efefef;
	border: 1px solid #222;
}
