.embeddedEditorParentOuter{
	border: 1px solid;
	vertical-align: middle;
	border-color: blue;
	overflow: hidden;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 15px;
	padding-bottom: 2px;
	position: relative;
	height: 280px;
}

.embeddedEditorTitleOuter{
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2px;
	position: relative;
	height: 18px;
}

.embeddedEditorParentInner{
	border: 1px solid;
	vertical-align: middle;
	width: 49%;
	font-size: 90%;
	height: 100%;
	border-color: blue;
	overflow: hidden;
	text-align: left;
	position: relative;
}

.embeddedEditorTool{
	vertical-align: middle;
	border-color: blue;
	overflow: hidden;
	text-align: left;
	background-color: grey;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5px;
	padding-bottom: 2px;
	padding-top: 4px;
	position: relative;
	height: 24px;
}

.embeddedEditorDemoTextParent{
	border: none;
	font-size: 90%;
	vertical-align: middle;
	overflow: hidden;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 5px;
	position: relative;
}

.orionPage {
    background-color: white;
    width: 100%;
    height: 100%;
}
