<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebDAV Help - Debug Launcher</title>

	<base href="../../">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/pages.css" rel="stylesheet">
</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!-- what does this do -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Debug Launcher</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="./">App Status</a></li>
					<li><a href="debug">Debugger</a></li>
					<li><a href="tty/">Shell</a></li>
					<li class="active"><a href="help/dav/">WebDAV</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="logout">Sign Out</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">
		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron"><h2>Setting up WebDAV</h2></div>
	</div>
	<div class="container container-narrow">
		<div class="row-fluid">
			<p>Use the information below to set up your WebDAV client.</p>
			<div class="span6">
				<blockquote>
					<table class="davsetup">
						<tr>
							<td>URL</td>
							<td><code><a href="<%= url %>"><%= url %></a></code></td>
						</tr>
						<tr>
							<td>Username</td>
							<td><code>vcap</code></td>
						<tr>
						<tr>
							<td>Password</td>
							<td><code class="spoiler"><%= password %></code> (hover to reveal)</td>
					</table>
				</blockquote>
			</div>
		</div>
	</div>

	<!- ======================================================================== ->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js" defer></script> <!-- requires jquery -->
</body>
</html>