.auxpane {
	overflow: visible;
}

.repoDropdownList {
	height:calc(100% - 70px);
	overflow-y:auto;
}

.commitInfoHolder{
	display:flex;
}

.commitSvgGraph{
	margin-left: -5px;
	margin-top: 10px;
    margin-bottom: -29px;
    padding-right: 10px;
    position: relative;
}

.commitSvgGraphHolder{
	height:100%;
}

.commitSvgGraphNode{
	position: absolute;
    left: 0;
}

.commitSvgGraphLines{
	left:0;
	right:0;
	bottom: 0;
    position: absolute;
    top: 0;
    height: 100%;
}

.branchDropdownList {
	height:calc(100% - 70px);
	overflow-y:auto;
}

.configDropdownList {
	height:calc(100% - 70px);
	overflow-y:auto;
}

.sectionDropdownActions {
	height:25px;
	background-color: #f4f4f4;
	padding-top:5px;
	border-top: 1px solid #cacaca;
	padding-bottom:4px;
}

.sectionTableItem {
	padding-top: 2px;
	padding-bottom: 2px;
}

.gitChangeListCompare {
	height: 420px;
	border: 1px solid lightgray;
	margin-right: 10px;
	min-height: 50px;
}

.gitChangeListCompareMaximized {
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 14px);
	height: calc(100% - 14px);
	background-color: white;
	padding-bottom: 10px;
	z-index: 50;
}

.gitChangeListCompareContainerMaximized {
	margin-right: 1px;
	height: calc(100% - 30px);
}

.submoduleMessageHolder{
	padding:10px;
}

.gitPushUpdates {
	border-spacing: 10px;
}

.gitPushMessage {
	margin-left: 20px;
	margin-top: 0;
}

.gitPushResult {
	width: 100%;
	text-align: left;
	margin: 0;
	white-space: pre;
}

.sectionDropdownArrow {
	margin-left: 3px;
	margin-top: 2px;
}

.mainToolbar .sectionWrapper {
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
	width: auto;
	float: left;
	color: white;
	background-color: #3b4b54 !important;
	border: none;
	padding-top: 0;
	padding-bottom: 2px;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

html[dir="rtl"] .mainToolbar .sectionWrapper { /* ACGC */
	margin-right: 0;
	margin-left: 10px;
	float: right;
}

.mainToolbar .sectionWrapper.sectionOpened {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.mainToolbar .sectionTable.sectionClosed {
	visibility: hidden;
}

.mainToolbar .sectionTable {
	margin-left: 0;
	margin-right:0;
	margin-top: 1px;
	width: 40%;
	position: absolute;
	height: 300px;
	min-width: 400px;
	z-index: 200;
	background-color: white;
	border: 1px solid #aaa;
}

.innerPanels {
	margin: 5px;
	width: calc(100% - 2px)
}

.fixedToolbarHolder {
	width: calc(100% - 2px);
	overflow: hidden;
}

.gitSectionLabel {
	float: left;
	font-size: 12px;
	margin-top: 0px;
	padding: 5px 6px 5px 6px;
	color: #FFF;
	background: #3b4b54;
	margin-right:1px;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

.sidebar > .sectionWrapper {
	margin: 0;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

.sidebar .sectionWrapper.sectionOpened {
	background-color: white;
}

.sidebar > .sectionTable {
	margin: 0;
	background-color: #fcfcfc;
	flex: 1 0;
	-ms-flex: 1 0;
	-webkit-flex: 1 0;
	overflow: auto;
}

.sidebar .selectionModelContainer {
	height: 100%;
}

.mainpane .selectionModelContainer {
	height: 100%;
}

.commitFilterHeader.sectionWrapper {
	border-width: 0;
	padding: 0;
	margin: 0;
	height: 0;
}

.commitFilterHeader.sectionTable {
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	position: absolute;
	width: calc(100% - 20px);
	z-index: 200;
	margin-top: -1px;
	background-color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.commitFilterHeader.sectionTable.sectionClosed {
	visibility: hidden;
}

.commitFilter.sectionWrapper {
	border-width: 0;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-top: 5px;
	margin: 0;
	opacity: 1;
	min-height: 35px;
}

.commitFilter.sectionWrapper.sectionClosed:hover {
	box-shadow: initial;
}

.commitFilter .sectionTitle {
	width: 100px;
	color: #333;
	padding-left: 3px;
}

.commitFilterActions {
	padding: 5px;
	overflow: hidden;
}

.core-sprite-edit {
	color: #77858d;
}

.core-sprite-leftarrow {
  	color: #777;
}

.core-sprite-save {
  	color: #777;
}

.pathFilter.sectionTable.sectionOpened {
	height: 300px;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: white;
	border-top: 1px solid #ddd;
	overflow-y: auto;
}

.pathFilter.sectionTable.sectionClosed {
	height: 0;
}

.mainToolbar .gitFilterBox input {
	width: 200px;
}

html[dir="rtl"] .mainToolbar .gitFilterBox input { /* ACGC */
	padding-left: 22px;
	padding-right: 0px;
}

.auxpane .gitFilterBox input {
	width: 60%;
}

.searchButton {
	position: relative;
	left: 5px;
	cursor: pointer;
	outline: none;
	color: gray;
	padding: 0 2px 2px;
    border: 1px solid transparent;
}

.searchButton:hover {
	background-color: #a5b5bc;
	border: 1px solid #ccc;
}

.mainToolbar #configSection {
	float: right;
	padding: 4px;
	padding-top: 0;
	border: 1px solid transparent;
	height: 18px;
}

.mainToolbar #configSection:hover {
	color: #C0E6FF;
	box-shadow: none;
	border-radius: 0;
}

.mainToolbar #configSection:not(:hover):not(.sectionOpened) {
	border-color: transparent;
	background: transparent;
}

.mainpane .sectionWrapper {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	background:white;
}

.mainpane .sectionTable {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	overflow: auto;
}

table .sectionWrapper {
	margin-left: 0px;
	margin-right: 0px;
}

table .sectionTable {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #dadada;
}

.workingTarget {
	background: white;
	top: 0;
	box-shadow: none;
	overflow: visible;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

.sidebar {
	overflow: visible;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

.sidebarWrapper > .sidebar {
	height: calc(100% - 0px);
}

.sidebarWrapper {
	overflow: visible;
}

.gitChangeListSelectAll {
	float: left;
	padding-top: 3px;
}

.gitChangeListSelectionStatus {
	overflow: hidden;
	width: calc(100% - 200px);
	text-align: center;
	float: left;
	padding-top: 3px;
}

.gitChangeListChangedStatus {
	float: left;
	padding-top: 3px;
}

.gitChangeListInputLabel {
	padding-left: 10px;
	font-size: 12px;
}

.gitChangeListCheckLabel {
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
	padding-right: 10px;
}

.gitChangeListInput {
	width: 450px;
	font-size: 12px;
}

.gitChangeListCheck {
	margin: 0 3px 0 0;
	padding: 0;
	vertical-align: text-top;
}

.persitCheck {
	padding-left: 10px; /*  We only need padding on the left for the Save Checkbox */
}

#persitCheck.gitChangeListCheck ~ label {
	margin-top: 0;
}

_:-moz-tree-row(hover), .gitChangeListCheck { /* Firefox  HACK */
	vertical-align: text-bottom;
}

.gitChangeListGroup {
	margin-top: 10px;
}

.gitChangeListGroupContent {
	border: 1px solid #b2cfb9;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 3px;
	padding-right: 10px;
}

.gitChangeListCompareActions {
	overflow: hidden;
	padding: 5px;
}

.gitCommitInfoValue {
	color: #3B4B54;
}

.checkedRow .gitCommitInfoValue {
	color: white;
}

.tooltip .gitCommitInfoValue {
	color: white;
}

.gitLoading {
	font-weight: bold;
}

.gitCommitMessageSection {
	background-color: #F2FBF9;
}

.gitCommitMessage .gitCommitMessageTopRow {
	width: calc(100% - 26px);
	background-color: #FFF;
	padding: 5px;
	padding-bottom: 0;
	margin: 10px;
	margin-bottom: 0;
	border-radius: 5px;
	border: 1px solid #1bb199;
}

.gitCommitMessage .gitCommitMessageTopRow.invalidParam {
	background-color: rgba(255, 0, 0, 0.1);
}

.gitCommitMessage input.invalidParam {
	background-color: rgba(255, 0, 0, 0.1);
}

.gitFilterInput.invalidParam {
	background-color: rgba(255, 0, 0, 0.1);
}

.invalidFileCount {
	color: rgba(255, 0, 0, 1);
}

.gitCommitMessage .gitCommitMessageTopRow textarea {
	width: calc(100% - 10px);
	background-color: transparent;
	border-width: 0px;
}

.gitCommitMessage .gitCommitMessageBottomRow {
	width: calc(100% - 20px);
	padding: 2px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}

.primaryButton {
	background-color: #1bb199 !important;
	color: #FFF !important;
	border: 1px solid #1bb199 !important;
	border-radius: 0 !important;
}

.gitNavColumn {
	border-bottom: 0 !important;
}

.gitCommitMore {
	padding: 0;
	margin: 10px 5px 5px 0;
	opacity: 0.6;
	border: none;
	background: transparent;
	color: #00aed1;
	cursor: pointer;
	float: left;
}

.checkedRow .gitCommitMore {
	color: white;
}

.gitListCell:hover .gitCommitMore {
	opacity: 1;
}

.gitCommitMore:focus {
	opacity: 1;
}

.gitListMore {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	padding: 10px;
}

.gitCommitMessage .gitCommitMessageExplorerRow {
	width: calc(100% - 6px);
	padding: 0;
	overflow: hidden;
}

.sectionTitle {
	font-size: 12px;
	font-weight: normal !important;
	padding-bottom: 3px;
}

.gitCommitListLoaded {
	border: 1px solid #ddd;
}

.gitCommitListSection {
	background-color: #e9f1f4;
}

.gitListCell {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;		 		 /* Safari */
	padding-top: 1px;
	padding-bottom: 1px;
	overflow: visible;
}

.lastGitListCell{
	overflow:hidden;
}

.gitCommitListSectionTitle {
	font-size: 8.5pt;
	/* text-transform: uppercase; */
	margin-top: 4px;
	color: #3B4B54;
}

.checkedRow .gitCommitListSectionTitle {
	color: white;
}

.checkedRow .navColumn {
	color: white;
}

.gitCommitSectionTableItem {
	padding: 2px;
}

.sectionTable .gitCommitImageCell {
	vertical-align: top;
}

.sectionTable .gitCommitDetailsCell {
	vertical-align: top;
}

.checkedRow .gitCommitDetailsCell {
	color: white;
}

.gitCommitListNoCommit {
	background-color: #ffffff;
}

.gitCommitFullMessage {
	white-space: pre-wrap;
}

.gitCommitBranchesTitle {
	margin-right: 4px;
}

.gitCommitBranch {
	color:#555;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 4px;
	display: inline-block;
	margin-left: 2px;
	margin-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.gitCommitTagsTitle {
	margin-right: 4px;
}

.gitCommitSection {
	padding-top: 15px;
}

.gitCommitTag {
	color:#555;
	border: 1px solid #ccc;
	background-color: LemonChiffon;
	border-radius: 4px;
	display: inline-block;
	margin-left: 2px;
	padding-left: 2px;
}

.gitCommitTagClose {
	padding: 0;
	padding-left: 5px;
	cursor: pointer;
	color: #77858d !important;
	font-size: 10px;
}

.gitCommitTagClose:hover {
	color: #00AED1 !important;
}

.gitCommitTitle {
	padding-bottom: 5px;
	color: #3B4B54;
}

.checkedRow .gitCommitTitle {
	color: white;
}

.gitCommitWarningBadge {
	color: black;
	position: relative;
	top: 26px;
	left: 26px;
	padding: 0;
	background-color: yellow;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	z-index: 1;
}

.gitCommitWarningBadge .core-sprite-warning {
	position: absolute;
}

.gitStatusIcon {
	font-size: 30px;
	float: left;
	position: relative;
	height: 30px;
	vertical-align: text-top;
	width: 30px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 10px;
	margin-top: 5px;
	color:#1bb199;
}

.checkedRow .gitStatusIcon {
	color: white;
}

.gitStatusSection{
	background: #f2fbf9;
	color:#8AA190;
}

.gitStatusSection .sectionTableItem {
	padding-left: 24px;
}

.checkedRow .sectionTableItem {
	color: white;
}

.gitStatusTitle {
 	color: #1bb199;
	padding-bottom:5px;
}

.checkedRow .gitStatusTitle {
 	color: white;
}

.gitBranchTitle {
	font-weight: bold;
}

.gitRepoTitle {
	font-weight: bold;
}

.gitRepoExtraDescription {
	padding-top: 16px;
	padding-left: 16px;
}

.gitRepoExtraDescriptionSection {
	padding-top: 10px;
}

.gitConfigKey {
	padding-left: 5px;
	font-weight: bold;
}

.gitConfigValue {
	padding-left: 10px;
	padding-top: 5px;
}

.gitAuthorImage {
	border: 1px solid lightGrey;
	padding: 2px;
}

.git-author-icon {
	float: left;
	position: relative;
	height: 30px;
	vertical-align: text-top;
	width: 30px;
	padding: 3px;
	margin-right: 10px;
}

.git-author-icon.incoming {
	background-color: #f8c199;
}

.git-author-icon.outgoing {
	background-color: #99ccff;
}

.git-author-icon.outgoing.invalid {
	background-color: red;
}

.git-author-icon-small {
	float: left;
	position: relative;
	height: 35px;
	vertical-align: text-top;
	width: 35px;
	border: 1px solid lightGrey;
	padding: 2px;
	margin-right: 18px;
}

.gitRepoItem {
	background: url(../images/repository.png);
}

.gitBranchItem {
	background: url(../images/branch.png);
}

.gitRemoteItem {
	background: url(../images/remote.png);
}

.gitDefaultItem {
}

.gitPanel {
	min-width: 800px;
	background:white;
}

.gitFilterBox {
	width: 100%;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #cacaca;
}

.sidebar .gitFilterBox {
	background-color: white;
}

.mainToolbar .gitFilterBox {
	background-color: #f4f4f4;
}

/* sprites */
.gitCommandSprite {
	display: inline-block;
}

.gitImageSprite {
	display: inline-block;
	padding-right: 10px;
	margin: 1px;
}

.checkedRow .gitImageSprite {
	color: white;
}

.treeTableRow .commitActions {
	display: none;
	padding-top: 3px;
}

.treeTableRow:hover .commitActions {
	display: block;
}

.treeTableRow .parameterPopupOpen {
	display: block;
}

.checkedRow .commitActions {
	display: block;
}

.git-sprite-notsure{ background-position: 0 -216px; width: 16px; height: 16px; } 

.git-sprite-apply-patch,
.git-sprite-repository,
.git-sprite-pull,
.git-sprite-remote,
.git-sprite-checkout,
.git-sprite-fetch,
.git-sprite-tag,
.git-sprite-branch,
.git-sprite-stage,
.git-sprite-addition,
.git-sprite-file,
.git-sprite-removal,
.git-sprite-merge,
.git-sprite-merge-squash,
.git-sprite-rebase,
.git-sprite-cherry-pick,
.git-sprite-compare,
.git-sprite-reset,
.git-sprite-revert,
.git-sprite-open,
.git-sprite-unstage,
.git-sprite-undo-commit,
.git-sprite-incoming-commit,
.git-sprite-outgoing-commit,
.git-sprite-branch-active,
.git-sprite-branch-active-tag,
.git-sprite-branch-active-branch,
.git-sprite-branch-active-commit,
.git-sprite-branch-active-stash,
.git-sprite-conflict-file,
.git-sprite-save-patch,
.git-sprite-stash-changes,
.git-sprite-pop-changes,
.git-sprite-commit,
.git-sprite-train-track,
.git-sprite-stash
{
	font-size: 16px;
	line-height: 18px;
	padding-top:2px;	
	vertical-align:middle;
	color: inherit;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-open {
	padding: 0;
}

.git-sprite-compare {
	padding: 2px;
	padding-top: 1px;
}

.git-sprite-undo-commit{
	padding-top: 3px;
	padding-bottom: 2px;
	line-height: 14px;
}

.git-sprite-incoming-commit{
	padding-right:5px;
}

.git-sprite-outgoing-commit{
	padding-right:5px;
}

.git-sprite-branch-active{
	padding-right:5px;
	padding-bottom:5px;
}

.git-sprite-branch-active-tag{
	padding-top:1px;	
	padding-right:5px;
}

.git-sprite-branch-active-branch{
	padding-top:1px;	
	padding-right:5px;
}

.git-sprite-branch-active-commit{
	padding-right:5px;
}

.git-sprite-branch-active-stash{
	padding-right:5px;
}

.git-sprite-conflict-file{
	font-size: 24px;
	line-height: normal;
	color:#df484c;	
	padding-right:5px;
}

.git-sprite-apply-patch,
.git-sprite-save-patch
{
	padding: 1px 2px;
}

.git-sprite-revert,
.git-sprite-reset
{
	padding: 0;
}

.git-sprite-train-track{
	padding: 0 0 2px 2px;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.git-sprite-apply-patch:before{ content:'\E048'; }
.git-sprite-save-patch:before{ content:'\E047'; }
.git-sprite-cherry-pick:before{ content:'\E019'; }
.git-sprite-pull:before{ content:'\E01E'; }
.git-sprite-repository:before{ content:'\E020'; }
.git-sprite-remote:before{ content:'\E020'; }
.git-sprite-checkout:before{ content:'\E01D'; }
.git-sprite-fetch:before{ content:'\E01F'; }
.git-sprite-tag:before{ content:'\E007'; }
.git-sprite-branch:before{ content:'\E029'; }
.git-sprite-stage:before{ content:'\E02D'; }
.git-sprite-addition:before{ content:'\E02C'; }
.git-sprite-file:before{ content:'\E00A'; }
.git-sprite-removal:before{ content:'\E02F'; }
.git-sprite-merge:before{ content:'\E024'; }
.git-sprite-merge-squash:before{ content:'\E023'; }
.git-sprite-rebase:before{ content:'\E022'; }
.git-sprite-compare:before{ content:'\E006'; }
.git-sprite-reset:before{ content:'\E025'; }
.git-sprite-revert:before{ content:'\E021'; }
.git-sprite-open:before{ content:'\E030'; }
.git-sprite-unstage:before{ content:'\E02B'; }
.git-sprite-incoming-commit:before{ content:'\E015'; }
.git-sprite-outgoing-commit:before{ content:'\E016'; }
.git-sprite-conflict-file:before{ content: '\2B0C'; } 
.git-sprite-branch-active:before{ content: '\E01A'; }
.git-sprite-branch-active-tag:before{ content: '\E01A'; }
.git-sprite-branch-active-tag:after{ content: '\E007'; }
.git-sprite-branch-active-branch:before{ content: '\E01A'; }
.git-sprite-branch-active-branch:after{ content: '\E029'; }
.git-sprite-branch-active-commit:before{ content: '\E01A'; }
.git-sprite-branch-active-commit:after{ content: '\E045'; }
.git-sprite-branch-active-stash:before{ content: '\E01A'; }
.git-sprite-branch-active-stash:after{ content: '\E035'; }
.git-sprite-undo-commit:before{ content: '\E03D'; }
.git-sprite-view-stash:before{ content: '\E035'; }
.git-sprite-stash-changes:before{ content: '\E03E'; }
.git-sprite-pop-changes:before{ content: '\E03F'; }
.git-sprite-stash:before{ content: '\E035'; }
.git-sprite-commit:before{ content: '\E045'; }
.git-sprite-train-track:before{ content: '\E045'; }