@import "../org.dojotoolkit/dojo/resources/dojo.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/nihilo.css";

@import "../org.dojotoolkit/dijit/themes/nihilo/layout/BorderContainer.css";

@import "../css/ide.css";

@import "../css/commands.css";

.testSuccess {
	line-height: 20px;	
}

.testFailure {
	line-height: 20px;	
	font-weight: bold;
	color: #FF0000;
}