
.contentassist {
	display: none;
	background-color: #FFFFFF;
	padding: 2px;
	top: 100px;
	left: 100px;
	border: 1px solid #CCCCCC;
	z-index:10;
	cursor: default;
	overflow: auto;
	min-width: 70px;
	min-height: 50px;
	max-height: 150px;
	max-width: 350px;
	white-space: nowrap;
}

.contentassist .selected {
	background-color: #EAF2FE;
	font-weight: bold;
}
