.contentassist {
	font-size:12px;
	display: none;
	color: black;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 100px;
	z-index:100;
	cursor: default;
	min-width: 70px;
	width: 350px;
	height: 170px;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
	line-height: 18px;
	resize: both;
}

.contentassist:focus {
	outline: none;
}


.contentassist .proposal-emphasis {
	font-weight: normal;
}

.contentassist hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contentassist .proposal-noemphasis-keyword {
	background-color: aliceblue;
	color: #CC4C07;
	font-weight: bold;
}

.contentassist .proposal-noemphasis {
	background-color: aliceblue;
	font-weight: lighter;
	color: black;
}

.contentassist .proposal-noemphasis-title-keywords {
	background-color: aliceblue;
	color: #717171;  /* slightly darker than 'gray', to meet WCAG 2.0 AA minimum contrast on aliceblue. */
}

.contentassist .proposal-noemphasis-title {
	background-color: aliceblue;
	color: #717171;  /* slightly darker than 'gray', to meet WCAG 2.0 AA minimum contrast on aliceblue. */
	padding-top: 5px;
}

.contentassist .proposal-default {
	/* nothing */
}

.contentassist .proposal-name {
	font-weight: bold;
}

.contentassist .selected {
	background-color: rgb(48, 135, 179); /* for browsers that don't support linear-gradient */
	background: linear-gradient(rgb(60, 150, 190), rgb(30, 120, 160));
	border-radius: 3px;
	color: white;
}

.contentassist .cloneProposal {
	box-shadow: rgba(0, 0, 0, 0.9) 2px 2px 8px;
	position: fixed;
	visibility: visible;
	z-index: 1000; /* must be greater than .contentassist z-index */
}

.contentassist .proposalTag {
	display: inline-block;
  	line-height: 11px;
  	height: 10px;
   	border-radius: 2px;
	background: #325C80;
	padding: 2px;
	margin-right: 3px;
	text-align: center;
  	color: white;
}

/* TODO This class should be moved to a language specific location */
.contentassist .iconTagGreen {
	display: inline-block;
	font-size: 10px;
  	font-weight: bold;
  	line-height: 13px;
  	height: 12px;
  	width: 12px;
   	border-radius: 50%;
	background: green;
	padding: 1px;
	margin-right: 3px;
	text-align: center;
  	color: white;
}

.contentassist>div {
	padding: 1px 3px 1px 5px;
}

.cloneWrapper {
	display: block;
	height: 0;			/* this node should not be visible */
	overflow: visible;
	visibility: hidden; /* this node should not be visible */
	width: 0;			/* this node should not be visible */
	z-index: 1000; /* must be greater than .contentassist z-index so that child node is above .contentassist */
}

.contentassist.cloneWrapper:hover {
	overflow: visible;
}
