.annotationRuler {
	background-color: #ffffff;
	width: 16px;
}
.overviewRuler {
	background-color: #ffffff;
	width: 14px;
}
.foldingRuler {
	background-color: #ffffff;
	border-right: 1px solid #ddd;
	width: 14px;
}
.annotationProblem {
	cursor: pointer;
}
.annotationProblemOverview {
	background-color: lightcoral;
	border: 1px solid red;
	border-radius: 2px;
	cursor: pointer;
	left: 2px;
	width: 8px;
}
.lineNumberRuler,
.lineNumberRuler-odd,
.lineNumberRuler-even {
	background-color: #ffffff;
}

.lineNumberRuler {
	text-align: right;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}