/* Styles for rulers */
.ruler {
}
.ruler.annotations {
	width: 16px;
}
.ruler.folding {
	width: 14px;
}
.ruler.lines {
	text-align: right;
}
.ruler.overview {
	width: 14px;
}
.ruler.zoom {
	width: 100px;
	height: 100%;
}

.rulerZoomWindow {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #eee;
	position: absolute;
	width: calc(100% - 3px);
	border-radius: 5px;
	z-index: 100;
	pointer-events: none;
}

.textviewZoom {
	font-size: 2px !important;
	cursor: pointer;
}

.textviewZoom .textviewContent {
	cursor: pointer;
}

/* Styles for the line number ruler */
.rulerLines {
	color: silver;
}
.rulerLines.even
.rulerLines.odd {
}