.textview {
	background-color: white;
	font-family: "Monaco", "Consolas", "Vera Mono", "monospace";
	font-size: 10pt;
	min-width: 50px;
	min-height: 50px;
}

.textviewScroll {
	padding: 1px 2px;
}

.textviewContent {
  cursor: auto;
}

.textviewLeftRuler {
	border-right: 1px solid #eaeaea;
}

.textviewRightRuler {
	border-left: 1px solid #eaeaea;
}