<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->
		<div style="display: table">
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitUrlLabel" for="${id}_gitUrl" style="padding-right: 10">${gitUrlLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input dojoAttachPoint="gitUrl" id="${id}_gitUrl" style="display: inline-block; width: 98%;" value="">
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitLocationLabel" for="${id}_gitUrl" style="padding-right: 10">${gitLocationLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input dojoAttachPoint="gitLocation" id="${id}_gitLocation" style="display: inline-block; width: 98%;" value="">
					<br><i>This is to be replaced with directory picker dialog</i>
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5"></div>
				<div style="display: table-cell; padding: 5">
					<button dojoAttachPoint="cloneItemButton" dojoType="dijit.form.Button" type="submit" value="OK" style="padding: 20 0 10 0; float: right; clear: both;">Next &gt;
					</button>
				</div>
			</div>
		</div>
	</div>
</div>