<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->
		<div style="display: table">
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitRemoteLabel" for="${id}_gitRemote" style="padding-right: 10">${gitRemoteLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input dojoAttachPoint="gitRemote" id="${id}_gitRemote" style="display: inline-block; width: 98%;" value="">
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitRemoteURILabel" for="${id}_gitRemoteURI" style="padding-right: 10">${gitRemoteURILabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input dojoAttachPoint="gitRemoteURI" id="${id}_gitRemoteURI" style="display: inline-block; width: 98%;" value="">
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5"></div>
				<div style="display: table-cell; padding: 5">
					<button dojoAttachPoint="cloneItemButton" dojoType="dijit.form.Button" type="submit" value="OK" style="padding: 20 0 10 0; float: right; clear: both;">OK
					</button>
				</div>
			</div>
		</div>
	</div>
</div>