<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->

		<form method="post" id="applyPatchDialog.myForm"
			enctype="multipart/form-data">
			<fieldset>
				<div style="display: table-row">
					<div style="display: table-row; height: 20px">
						<div style="display: table-cell; padding: 1px;">
							<input type="radio" name="radio" value="urlRadio" id="applyPatchDialog.urlRadio" checked/>URL:
						</div>
						<div style="display: table-cell; padding: 1px;">
							<input type="text" name="url" id="applyPatchDialog.url" style="display: inline-block; width: 98%;"
								dojoType="dijit.form.ValidationTextBox"
								regExp="^http(s)*://.+" invalidMessage="Invalid URL."/>
						</div>
						<div style="display: table-cell; padding: 1px;">
						</div>
					</div>
					<div style="display: table-row; height: 20px">
						<div style="display: table-cell; padding: 1px;">
							<input type="radio" name="radio" value="fileRadio" id="applyPatchDialog.fileRadio"/>File:
						</div>
						<div style="display: table-cell; padding: 1px; vertical-align: top;">
							<div id="files" dojoType="dojox.form.uploader.FileList" uploaderId="applyPatchDialog.uploader"></div>
						</div>
						<div style="display: table-cell; padding: 1px;">
							<input name="uploadedfile" multiple="false" type="file" id="applyPatchDialog.uploader" force="iframe"
								dojoType="dojox.form.Uploader" style="height: 20px" label="Browse..."/>
						</div>
					</div>
					<div style="display: table-row">
						<div style="display: table-cell; padding: 1px;">
						</div>
						<div style="display: table-cell; padding: 1px;">
						</div>
						<div style="display: table-cell; padding: 1px;">
							<input type="submit" label="Finish" value="OK" dojoType="dijit.form.Button"
								style="padding: 20 0 10 0; float: right; clear: both;"/>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>