<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->
				<!--div style="text-align: left"-->
					<div style="padding: 0px; text-align: left;"  , id = "div1">
					</div>
					<div style="padding-top:10px; text-align: right;">
					<input type="button" id = "moreButton" label="More" value="OK" dojoType="dijit.form.Button"
							style="text-align:right; display:inline-block; clear: both"/>
					<input type="submit" label="OK" value="OK" dojoType="dijit.form.Button"
							style="text-align:right; display:inline-block; clear: both"/>

					</div>
				<!--/div-->
	</div>
</div>