<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->
		<div style="display: none; padding-top: 10px; padding-bottom: 10px;" dojoAttachPoint="gitCredentialsLabel">Provide credentials for: <b dojoAttachPoint="url"></b></div>
		<div style="display: table">
			<div style="display: table-row" dojoAttachPoint="gitSshUsernameRow">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitSshUsernameLabel" for="${id}_gitSshUsername" style="padding-right: 10">${gitSshUsernameLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input dojoAttachPoint="gitSshUsername" id="${id}_gitSshUsername" style="display: inline-block; width: 98%;" value="">
				</div>
			</div>	
			<div style="display: table-row" dojoAttachPoint="gitSshPasswordRow">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitSshPasswordLabel" for="${id}_gitSshPassword" style="padding-right: 10">${gitSshPasswordLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input type="password" dojoAttachPoint="gitSshPassword" id="${id}_gitSshPassword" style="display: inline-block; width: 98%;" value="">
				</div>
			</div>
			<div style="display: table-row" dojoAttachPoint="gitPrivateKeyRow">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitPrivateKeyLabel" for="${id}_gitPrivateKey" style="padding-right: 10">${gitPrivateKeyLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<textarea dojoAttachPoint="gitPrivateKey" id="${id}_gitPrivateKey" style="display: inline-block; width: 98%;" value=""></textarea>
				</div>
			</div>
			<div style="display: table-row" dojoAttachPoint="gitPassphraseRow">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="gitPassphraseLabel" for="${id}_gitPassphrase" style="padding-right: 10">${gitPassphraseLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input type="password" dojoAttachPoint="gitPassphrase" id="${id}_gitPassphrase" style="display: inline-block; width: 98%;" value="">
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5"></div>
				<div style="display: table-cell; padding: 5">
					<button dojoAttachPoint="okButton" dojoType="dijit.form.Button" type="submit" value="OK" style="padding: 20 0 10 0; float: right; clear: both;">Ok
					</button>
				</div>
			</div>
		</div>
	</div>
</div>