<div class="dijitDialog" tabindex="-1" waiRole="dialog" title="${title}" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<div style="display:table">
			<div style="display:table-row">
				<div style="display:table-cell; padding:5;">
					<label for="ReviewReqUrl" style="padding-right:10">${selectFile}</label>
				</div>
			</div>
			<div style="display:table-row">
				<div style="display:table-cell; padding:5;">
					<input type="text" dojoType="dijit.form.TextBox" dojoAttachPoint="ReviewReqUrl"
					style="width:30em;">
				</div>
			</div>
			<br>
			<div style="display:table-row">
				<div style="display:table-cell; padding:5;">
					<label for="ReviewerName" style="padding-right:10">${reviewerName}</label>
				</div>
			</div>
			<div style="display: block; padding: 5; clear: both; text-align: left">
				<input type="text" dojoType="dijit.form.TextBox" dojoAttachPoint="ReviewerName"
					style="width:15em;" placeholder="Reviewer name">
			</div>
			<button dojoAttachPoint="AskForReview" dojoType="dijit.form.Button" type="submit" value="OK" style="padding: 20 0 10 0; float: right; clear: both;">Submit
				</button>
			<br>
		</div>
	</div>
</div>