# Want to track this .gitignore file in Git, so override the top-level ignore
!.gitignore
.project

# Ignore npm artifacts
node_modules/
npm-debug.log

# Ignore any Maven artifacts that creep into the repo
target/

# Ignore inlined orion client code copied by Grunt build
lib/orion.client/

# Ignore per-user Orionode data
.workspace*/
test/.test_workspace/
