# Want to track this .gitignore file in Git, so override the top-level ignore
!.gitignore
.project

node_modules/
npm-debug.log

# Per-user Orionode data
.workspace/
build/.temp/
build/.temp-optimized/
test/.test_workspace/
