# Want to track this .gitignore file in Git, so override the top-level ignore
!.gitignore
.project

# Ignore npm artifacts
node_modules/
**/node_modules/
npm-debug.log

# Ignore any Maven artifacts that creep into the repo
**/bundles/*/target/*

# Ignore built browser widget until we get it removed from version control
**/web/browse/

# Ignore inlined orion client code copied by Grunt build
lib/orion.client/

# Ignore per-user Orionode data
.workspace/
build/.temp/
build/.temp-optimized/
test/.test_workspace/
