# Ignore npm artifacts
**/node_modules/
npm-debug.log

# Ignore any Maven artifacts that creep into the repo
**/bundles/*/target/*

# Ignore built browser widget until we get it removed from version control
**/web/browse/

# Ignore per-user Orionode data
.workspace/
build/.temp/
build/.temp-optimized/
test/.test_workspace/
