# Ignore npm artifacts
node_modules/
npm-debug.log

# Ignore any Maven artifacts that creep into the repo
target/

# Ignore per-user Orionode data
.workspace/
test/.test_workspace/

# Ignore Cloud Foundry support
**/bundles/org.eclipse.orion.client.cf/*

# Ignore client js tests
**/bundles/**/js-tests/

# Ignore i18n doc
**/bundles/org.eclipse.orion.client.ui/web/globalization/documentation
