@import "./themes/default.css";

.group {
	border: 1px solid teal;
	padding:5px;
	margin-top:5px;
}

.editor_group {
	border: 1px solid teal;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffd400;
}