@import "../../orion/textview/tooltip.css";
@import "../../orion/textview/annotations.css";

.button {
  color: teal;
  cursor: pointer;
  text-decoration: underline;
  padding: 0 2 0 2
}

.parentElement {
	border: 1px solid teal;
}

.option {
	border: 1px solid teal;
}
