<div>
	<style type="text/css">
		.pathCell {
			/* font-family: monospace; */
		}
		.workspacePathError {
			text-align: center;
		}
		.actionCell {
			height: 20px !important;
		}
		td.dojoxGridCellFocus,th.dojoxGridCellFocus {
			/* Remove annoying dashed border */
			border: none !important;
		}
	</style>
	<div dojoAttachPoint="containerNode">
		<div dojoType="dijit.form.Form" id="siteForm" style="display: table; pading: 10px;">
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<label dojoAttachPoint="siteConfigNameLabel" for="${id}_name">${siteConfigNameLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<input dojoType="dijit.form.ValidationTextBox" dojoAttachPoint="name" id="${id}_name"
						required="true" value=""
						style="display: inline-block; width: 15em;">
				</div>
			</div>
			
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px; vertical-align: top">
					<label dojoAttachPoint="mappingsLabel" for="${id}_mappings">${mappingsLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<table dojoType="widgets.MappingsGrid" dojoAttachPoint="mappings"
							autoHeight="true" singleClickEdit="true" selectionMode="none"
							selectable="true"
							style="width: auto" autoWidth="true">
					</table>
					<div style="padding: 5px 0 0 5px;">
						<div dojoAttachPoint="addMappingToolbar" id="${id}_addMappingToolbar"></div>
					</div>
				</div>
			</div>
			
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px;">
					<label dojoAttachPoint="hostHintLabel" for="${id}_hostHint" style="text-align: left;">${hostHintLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<input dojoType="dijit.form.ValidationTextBox" dojoAttachPoint="hostHint" id="${id}_hostHint"
						required="false" value=""
						style="display: inline-block; width: 12em;">
				</div>
			</div>
			
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px;">
					<button dojoAttachPoint="saveButton" dojoType="dijit.form.Button" 
						type="button" value="Save"
						style="padding: 10px 0 10px 0; float: right; clear: both; font-weight: bold; !important">Save</button>
				</div>
				<div style="display: table-cell; padding: 5px;"></div>
			</div>
		</div>
	</div>
</div>