<div>
	<div dojoAttachPoint="containerNode">
		<div dojoType="dijit.form.Form" id="siteForm" style="display: table; pading: 10px;">
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<label dojoAttachPoint="siteConfigNameLabel" for="${id}_name">${siteConfigNameLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<input dojoType="dijit.form.ValidationTextBox" dojoAttachPoint="name" id="${id}_name"
						required="true" value=""
						style="display: inline-block; width: 15em;">
				</div>
			</div>
			
			<!-- TODO break up the mapping here -->
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px;">
					<label dojoAttachPoint="mappingsLabel" for="${id}_mappings">${mappingsLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<textarea dojoType="dijit.form.Textarea" dojoAttachPoint="mappings" id="${id}_mappings"
						style="display: inline-block; width: 24em;"></textarea>
				</div>
			</div>
			
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px;">
					<label dojoAttachPoint="hostHintLabel" for="${id}_hostHint" style="text-align: left;">${hostHintLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5px 5px 15px 5px; text-align: left;">
					<input dojoType="dijit.form.ValidationTextBox" dojoAttachPoint="hostHint" id="${id}_hostHint"
						required="false" value=""
						style="display: inline-block; width: 12em;">
				</div>
			</div>
			
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px">
					<label dojoAttachPoint="workspaceLabel" for="${id}_workspace" style="text-align: left;">${workspaceLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5px 5px 15px 5px; width: 20em; text-align: left;">
					<div dojoType="dijit.form.Select" dojoAttachPoint="workspace" id="${id}_workspace"
						style="display: inline-block;">
					</div>
				</div>
			</div>
			
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5px;">
					<button dojoAttachPoint="okButton" dojoType="dijit.form.Button" 
						type="submit" value="Save"
						style="padding: 10px 0 10px 0; float: right; clear: both; font-weight: bold; !important">Save</button>
				</div>
				<div style="display: table-cell; padding: 5px;"></div>
			</div>
		</div>
	</div>
</div>