@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "../orion/compare/compareView.css";

@import "../orion/globalSearch/globalSearch.css";

@import "../orion/widgets/input/ComboTextInput.css";

@import "../css/theme.css";

#resultsinnerTree.treetable td {
	padding: 5px !important;
}

.replaceWrapper {
	display: inline-block;
	max-height: 50px; /* for transition */
	overflow: hidden;
	transition: max-height 0.2s ease;
}

.replaceWrapperHidden {
	display: block !important; /* removes the need to also set the width to 0 */
	max-height: 0; /* for transition */
}

.fileNamePatternsTextInput {
	min-width: 250px;
}

.fileNamePatternsHint {
	color: #777;
	font-size: 11px;
	margin: 0 0 2px 0;
	padding: 0 2px;
	display: block;
	opacity: 0;
	text-align: center;
	transition: opacity 0.1s ease;
}

.fileNamePatternsHintVisible {
	opacity: 1 !important;
}

.toggleDisplayLink {
	display: block;
	margin: 0 0 0 5px;
}

.searchMainOptionBlock {
	margin: 30px 10px;
}

.searchOptionBlock {
	margin: 20px 15px;
	width: 285px;
}

.searchLabel {
	margin: 1px 2px;
}

.searchCheckboxLabel {
	vertical-align: middle;
}

.searchCheckbox {
	margin: 0 0 0 5px;
	vertical-align: middle;
}

.searchScopeInputWrapper {
	background-color: whitesmoke;
	border: 1px solid lightgray;
	border-radius: 3px;
	display: inline-block;
}

.searchScopeElementWrapper {
	display: inline-block;
	width: 254px;
}

.searchScopeElement {
	color: #222;
	cursor: initial;
	display: inline-block;
	font-weight: normal;
	margin: 0 5px;
	overflow: hidden;
	padding: 0;
	max-width: 100%; /* prevents span from overflowing parent */
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.commandButton.searchScopeSelectButton {
	border: none;
	border-left: 1px solid lightgray;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	cursor: pointer;
	font-size: 12px;
	margin: 0;
	padding: 6px;
	text-transform: none;
	vertical-align: baseline;
}
