.breadcrumb {
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
	color: #05386B;
}

.breadcrumb:hover {
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
	border-bottom: 1px dotted;
	color: #05386B;
}