.commandImage {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
	padding: 0px;
	cursor: pointer;
}

.commandLink {
	margin-left: 2px;
	margin-right: 2px;
	color: #666666;
	text-decoration: underline;
	cursor: pointer;
}

.commandMenu {
	color: #666666;
	height: 28px;
}

.commandMenu li {
	height: 28px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 9px;
	margin-bottom: 0px;
}

.commandSubMenu {
	float: block;
}