.domCommandToolbar {
	height: 24px;
}

.commandImage {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
	padding: 0px;
	cursor: pointer;
}

.commandSeparator {
}

.commandLink {
	margin-left: 4px;
	margin-right: 4px;
	color: #6d6d6d;
	cursor: pointer;
}

.commandLink:visited {
	margin-left: 4px;
	margin-right: 4px;
	color: #6d6d6d;
	cursor: pointer;
}

.commandLink:hover {
	margin-left: 4px;
	margin-right: 4px;
	color: #6d6d6d;
	cursor: hand;
	text-decoration: underline;
}

.commandLinkLight {
	color: #ffffff;
	cursor: pointer;
}

.commandLinkLight:visited {
	color: #ffffff;
	cursor: pointer;
}

.commandLinkLight:hover {
	color: #ffffff;
	cursor: hand;
}

.commandLinkLight a:hover {
	color: #ffffff;
	cursor: hand;
	text-decoration: underline;
}


.commandMenu {
	color: #666666;
	height: 28px;
}

.commandMenu li {
	height: 28px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 9px;
	margin-bottom: 0px;
}

.commandSubMenu {
	float: block;
}