html {
  overflow-x: hidden; // workaround to get rid of horizontal scrollbar
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

h1 {
	font-size:1.5em;
	font-weight:bold;
	color: #6d6d6d;
	line-height: 36px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

a {
	cursor: hand;
	text-decoration: none;
	color: #05386B;
}

a:visited {
	text-decoration: none;
	color: #05386B;
}

a:active {
	text-decoration: none;
	color: #05386B;
}

a:hover {
	cursor: hand;
	text-decoration: underline;
	color: #05386B;
}

.navlinkonpage {
	color: #05386B;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:visited {
	color: #05386B;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:active {
	color: #05386B;
	cursor: hand;
	text-decoration: none;
}

.navlinkonpage:hover {
	color: #05386B;
	cursor: hand;
	text-decoration: none;
	border-bottom: 1px dotted;
}

.navTableHeading {
	border-bottom: 1px;
}

.pane {
   		margin: 0px;
    	padding: 0px;
    	background: #FFFFFF;
}

.auxpane {
    	padding-left: 32px;
    	padding-top: 20px;
    	background: #EDEDED;
    	overflow: auto;
}

.soria .dijitSplitterV .dijitSplitterThumb {	
	background: #F5F5F5;
}

.soria .dijitSplitterV {
	background: #F5F5F5;
}


.mainpane{
    	margin: 0px;
    	padding-top: 20px;
    	background: #FFFFFF;
		overflow: auto;
}

.statuspane {
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

.toolbar {
	background: #c5c5c5;
	border: 0px;
	cursor: pointer;
	font-size: 0.9em;
	color: #5a5a5a;
	height: 68px;
}

.toolbarLabel {
	padding-left: 8px;
}

.leftGlobalToolbar {
	height: 40px;
	padding-left: 24px;
	padding-top: 8px;
	background: #c5c5c5;
	text-align: left;
}

.rightGlobalToolbar {
	height: 40px;
	padding-right: 8px;
	padding-top: 8px;
	background: #c5c5c5;
	text-align: right;
}

.bannerSeparator {
	margin-left: 2px;
	margin-right: 2px;
	font-size: 1.1em;
}

.pageToolbar {
	background: #404040;
	padding-right: 24px;
	text-align: right;
	vertical-align: middle;
	height: 28px;
}

.searchbox {
	margin-left: 12px;
	margin-right: 8px;
	background: #c5c5c5;
	border: 1px solid #7a7979;
	font-size: 0.9em;
}

.soria .dijitButtonNode {
	background-image: none;
	background: none;
	border: 0px;
	padding: 0px;
	height: 20px;
}

.toolbarButton {
	border: 0px;
	padding: 0px
	height: 20px;
}

.toolbarTest {
//	background: #fff url("images/titleBarTest.png")  repeat-x top left;
	border:1px solid #bfbfbf;
	cursor: default;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}

.toolbarLocal {
	padding:0px;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	background: #fff url("images/titleBar.png") repeat-x top left;
	min-width: 600px;
}

.searchFloat {
	display: none;
	background: #ffffe0;
	position: absolute;
	left: 20px;
	top: 10px;
	width: 300px;
	border: 1px solid #bfbfbf;
	padding: 4px;
}

#rightPane .dijitTitlePaneContentInner {
	padding: 0px; // Remove the padding around the editor
}

#codeTitle .dijitTitlePaneContentInner {
	padding: 0px; // Remove the padding around the editor
}

#tree {
	margin-right: 9em;
	overflow-x: hidden;
}

#treeButtons br {
	line-height: 0.5em;
}

#treeButtons {
	margin: 0;
	padding: 0;
	float: right;
	width: 9em;
}

#treeButtons .contentButton {
	width: 8.5em;
	margin: 0;
	margin-bottom: 3px;
	font-size: 1em;
}

.checkedRow {
	background-color: #FFFFCC !important;
}

.testResult {
	background-color: #444444 !important;
	color: white;
}

.launchItemGo {
	background: url(images/silk/server_go.png);
}
.launchItemStop {
	background: url(images/silk/server_stop.png);
}

.projectItem {
	background: url(images/prj_obj.gif);
}

.folderItem {
	background: url(images/fldr_obj.gif);
}

.fileItem {
	background: url(images/file_obj.gif);
}

.newItem {
	background: url(images/add_obj.gif);
}

.treetable {
	border-spacing: 0px;
	min-width: 600px;
}

.favoritesTable {
	border-spacing: 0px;
}

.secondaryColumn {
	color: #666666;	
}

.lightTreeTableRow {
	background-color: #FFFFFF;
}

.darkTreeTableRow {
	background-color: #f8f8ff;
}

.testNavTreetable {
	cellspacing: 0px;
	min-width: 150px;
}

.testResultTreetable {
	cellspacing: 0px;
	min-width: 600px;
}

.followFile {
	background: url(images/silk/page_go.png);
}

.contentassist {
	display: none;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 1px solid black;
	z-index:10;
}

.contentassist .selected {
	background-color: #DDDDDD;
}

.test-passed {
	background-color: #11FF11;
}

.test-failed {
	background-color: #FF1111;
}

#test-overview {
	margin: 8px;
}

#test-tree {
	margin: 8px;
}
