@import "../org.dojotoolkit/dojo/resources/dojo.css";
@import "../org.dojotoolkit/dijit/themes/claro/claro.css";
@import "../org.dojotoolkit/dijit/themes/claro/Tree.css";
@import "../org.dojotoolkit/dijit/themes/claro/layout/BorderContainer.css";
@import "../org.dojotoolkit/dijit/themes/claro/form/Common.css";
@import "../org.dojotoolkit/dijit/themes/claro/form/Button.css";
@import "../css/ide.css";
@import "../css/commands.css";

html,body {
	height: 100%;
}

h1 {
	position: relative;
	margin-top: 18px;
}

.statusPane {
	font-weight: bold;
}

.domCommandToolbar {
	padding-left: 8px;
}

tr.treeTableRow td:first-child {
	padding-left: 16px !important;
}

.treetable th {
	font-weight: bold;
}

.treetable td {
	padding: 16px 0 16px 16px;
}

.treetable th {
	padding: 16px 0 0 16px;
}

.siteConfigDetails {
	padding-left: 16px;
}
