<div class="dijitDialog" tabindex="-1" waiRole="dialog"
	waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle"
			id="${id}_title"></span> <span dojoAttachPoint="closeButtonNode"
			class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel"
			title="${buttonCancel}"> <span dojoAttachPoint="closeText"
			class="closeText" title="${buttonCancel}">x</span> </span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->
		<div style="display: table">
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="userNameLabel" for="${id}_$userName"
						style="padding-right: 10">Login:</label>
				</div>
				<div
					style="display: table-cell; padding: 5; text-align: left;">
					<input dojoAttachPoint="userName" id="${id}_userName" value="">
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="passwordLabel" for="${id}_password"
						style="padding-right: 10">Password:</label>
				</div>
				<div
					style="display: table-cell; padding: 5; text-align: left;">
					<input dojoAttachPoint="password" id="${id}_password" type="password"  value="">
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5">
					<label dojoAttachPoint="passwordRetypeLabel" for="${id}_passwordRetype"
						style="padding-right: 10">Retype password:</label>
				</div>
				<div
					style="display: table-cell; padding: 5; text-align: left;">
					<input dojoAttachPoint="passwordRetype" id="${id}_passwordRetype" type="password" value="">
				</div>
			</div>

			<div style="display: table-row">
				<div style="display: table-cell; padding: 5"></div>
				<div style="display: table-cell; padding: 5">
					<button dojoAttachPoint="newUserButton"
						dojoType="dijit.form.Button" type="submit" value="OK"
						style="padding: 20 0 10 0; float: right; clear: both;">
						Create
					</button>
				</div>
			</div>
		</div>
	</div>
</div>