@import "../css/layout.css";
@import "../css/ide.css";
@import "../orion/widgets/Console.css";

html,body {
	height: 100%;
}

.console-input {
  position: absolute; height: 27px; bottom: 0; left: 0; right: 0;
  width: 100%;
}

.console-output {
  position: absolute; top: 0; bottom: 30px; left: 0; right: 0;
  font-size: 10pt;
}
