.editor {
	background-color: white;
}

.editorContainer {
	font-family: monospace;
	font-size: 10pt;
}

.editorContent {
}

.token_comment {
	color: green;
}

.token_javadoc {
	color: #00008F;
}

.token_string {
	color: blue;
}

.token_keyword {
	color: darkred;
	font-weight: bold;
}

.token_bracket_outline {
	outline: 1px solid red;
}

.token_bracket {
	color: white;
	background-color: grey;
}

.token_space {
	background-image: url('/editor/samples/space.png');
	background-repeat: no-repeat;
 	background-position: center center;
}

.token_tab {
	background-image: url('/editor/samples/tab.png');
	background-repeat: no-repeat;
 	background-position: left center;
}

.line_caret {
	background-color: #EAF2FE;
}

.ruler_annotation {
	background-color: #e1ebfb;
	width: 16px;
}

.ruler_annotation_todo {
}

.ruler_annotation_todo_overview {
	background-color: lightgreen;
	border: 1px solid green;
}

.ruler_annotation_breakpoint {
}

.ruler_annotation_breakpoint_overview {
	background-color: lightblue;
	border: 1px solid blue;
}

.ruler_lines {
	background-color: #e1ebfb;
	border-right: 1px solid #b1badf;
	text-align: right;
}

.ruler_overview {
	background-color: #e1ebfb;
}

.ruler_lines_even {
	background-color: #e1ebfb;
}

.ruler_lines_odd {
	background-color: white;
}

