@import "../edit/common.css";
@import "../orion/widgets/browse/fileBrowser.css";

.fileBrowserParent{
	border: 1px solid;
	vertical-align: middle;
	border-color: #dadada;
	overflow: hidden;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 5px;
}

